
body {
	line-height: 20px;
	font-size: 15px;
}

.row {
	width: 1020px;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
	margin-left: 10px;
	margin-right: 6px;
}

.column1 {
	width: 150px;
}

.column2 {
	width: 320px;
}

.column3 {
	width: 490px;
}

.column4 {
	width: 660px;
}

.column5 {
	width: 830px;
}

.column6 {
	width: 1000px;
}

.tiny,
.tiny {
	width: 110px;
}

.medium,
.medium {
	width: 210rem;
}

.left1 {
	margin-left: 180px;
}

form p {
	margin-bottom: 10px;
}

form p:last-child {
	margin-bottom: 0;
}

input[type="text"],
input[type="password"] {
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0 12px;
}

p label {
	line-height: 30px;
	font-size: 14px;
}

select {
	line-height: 30px;
	height: 30px;
	font-size: 13px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0 12px;
}

.button.small {
	line-height: 25px;
	height: 25px;
	font-size: 12px;
}

.button {
	line-height: 30px;
	height: 30px;
	font-size: 13px;
	padding: 0 10px;
}

.button.big {
	line-height: 40px;
	height: 40px;
	font-size: 15px;
}

.button.big [class*="icon-"] {
	font-size: 20px;
	line-height: 20px;
}

.button.next {
	height: 40px;
	width: 100px;
	font-size: 17px;
	padding-left: 20px;
}

input[type="submit"].button.big {
	padding-left: 18px;
	padding-right: 18px;
}

.button-group .button {
	margin-left: -6px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.button-group .button:first-child {
	margin-left: 0;
	border-left-width: 1px;
}

.captcha > *,
.captcha > input {
	margin-right: 10px;
}

.captcha .reload {
	width: 20px;
	font-size: 20px;
}

p.error span.error {
	line-height: 30px;
	margin-left: 10px;
}

h1 {
	line-height: 50px;
	font-size: 35px;
}

h2 {
	font-size: 20px;
	line-height: 30px;
}

#site-header {
	height: 130px;
	padding-top: 30px;
}

#site-header .auth {
	padding-top: 30px;
}

#site-header .menu {
	padding-top: 30px;
	left: -15px;
}

#site-header .menu a,
#tests-list a {
	line-height: 27px;
	height: 30px;
	margin: 0 15px;
}

#site-header .menu a.active,
#tests-list a.active {
	border-top: solid #165f40 1px;
	border-bottom: solid #165f40 1px;
}

#site-header img[src*=".svg"] {
	display: none;
}

#site-footer {
	padding-top: 40px;
	padding-bottom: 20px;
}

#site-footer .button-group {
	top: -10px;
}

#site-footer .row {
	margin-bottom: 10px;
}

#site-footer .credits {
	text-align: right;
}

#site-main {
	padding-bottom: 200px;
}

#site-main #site-sub-menu {
	line-height: 40px;
	top: -40px;
}

#site-main #site-sub-menu a {
	margin-right: 20px;
}

#site-content {
	padding-top: 70px;
}

#promo-banner .pack-with-shadow-1 {
	margin-left: 40px;
}

.enter-code {
	padding-top: 90px;
}

.enter-code h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}

.enter-code p {
	margin-bottom: 15px;
}

.enter-code input[type="text"] {
	font-size: 20px;
	border-radius: 20px;
	height: 40px;
	line-height: 37px;
	width: 200px;
	padding: 0 10px;
}

.enter-code input[type="submit"] {
	font-size: 18px;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	padding: 0 10px;
}



.score-table th {
	padding-top: 20px;
	padding-bottom: 10px;
}

.score-table td {
	padding-top: 10px;
}

.score-info {
	list-style: none;
}

.score-info li {
	padding: 7px 15px;
	margin-right: 3px;
}

.score-info li strong {
	font-size: 20px;
	line-height: 30px;
}