@charset "utf-8";
@import url("../fonts/mirta.css");
@import url("../fonts/icomoon.css");
@import url(http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700&subset=cyrillic);

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-size: 20px;
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	line-height: 1rem;
	font-size: 0.75rem;
	font-family: "Scada", sans-serif;
	-webkit-appearance: none;
  	-webkit-font-smoothing: antialiased;
}

/*	columns */
.row {
	width: 51rem;
	margin-left: auto;
	margin-right: auto;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.3rem;
	/*background-color: rgba(0,0,0,0.05);*/
}

.column1 {
	width: 7.5rem;
}

.column2 {
	width: 16rem;
}

.column3 {
	width: 24.5rem;
}

.column4 {
	width: 33rem;
}

.column5 {
	width: 41.5rem;
}

.column6 {
	width: 50rem;
}

.tiny,
.tiny {
	width: 5.5rem;
}

.medium,
.medium {
	width: 10.5rem;
}

.left1 {
	margin-left: 9rem;
}

*[class*="column"] *[class*="column"]:first-child {
	margin-left: 0;
}

*[class*="column"] *[class*="column"]:last-child {
	margin-right: 0;
}

*[class*="column"] *[class*="column"] {
	margin-left: 0.4rem;
}

*[class*="column"] > *[class*="column"]:first-child {
	margin-left: 0rem;
}

/*	Text */

h1 {
	font-family: "Mirta", serif;
	font-size: 1.75rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
	font-weight: normal;
}

h1.promo-header {
	font-size: 2.75rem;
	/*line-height: */
}

h2 {
	font-weight: normal;
	color: #a0281c;
	font-size: 1.05rem;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-weight: normal;
}

h4 {
	font-family: "Mirta", serif;
	font-size: 0.9rem;
	line-height: 1.2rem;
	font-weight: normal;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.75rem;
	font-family: "Mirta", serif;
	font-weight: normal;
}

p + p,
p + ol,
p + ul,
ul + p,
ol + p {
	margin-top: 0.5rem;
}

ul {
	margin-left: 1.125rem;
}

ul li {
	list-style: none;
	margin: 0.5rem 0;
}

ul li:before {
	content: "— ";
	width: 1rem;
	margin-left: -0.8rem;
	color: #aaa;
}

ol {
	counter-reset: ol;
	margin-left: 1.125rem;
}

ol li {
	list-style: none;
	margin-bottom: 0.5rem;

}

ol li:before {
	counter-increment: ol;
	content: counter(ol) ". ";
	margin-left: -1.25rem;
	width: 1rem;
	margin-right: 0.25rem;
	text-align: right;
	color: #aaa;
	display: inline-block;
	vertical-align: top;
}

ol ul li:before {
	content: "— ";
}

em {
	font-family: "Mirta";
}

strong {
	font-weight: 700;
}

#site-content nav {
	margin-bottom: 0.75rem;
}

#site-content nav > * {
	margin-right: 1rem;
}

#site-content h4 {
	margin-bottom: 0.5rem;
}

#site-content h1 + nav {
	margin-top: 1.25rem;
}

.pen-back {
	position: relative;
}

.pen-back:after {
	content: " ";
	position: absolute;
	z-index: 0;
	width: 110%;
	height: 120%;
	left: -7%;
	top: 0%;
	background: url(../images/pen-background.png) no-repeat left center;
	background-size: contain;
	color: #000;
}

.pen-back > * {
	position: relative;
	z-index: 1;
	color: #222;
}


/*	Colors and interactive */

a {
	color: #165f40;
	text-decoration: none;
	border-bottom: solid rgba(22, 95, 64, 0.25) 1px;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

a:hover {
	border-color: rgba(22, 95, 64, 1);
}

a .border {
	border-bottom: solid rgba(22, 95, 64, 0.25) 1px;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

a:hover .border {
	border-color: rgba(22, 95, 64, 1);
}

a.no-style {
	border: none;
	color: inherit;
}

.copyrights a,
.credits a {
	border-bottom: none;
}

.red {
	color: #a0281c;
}

.green {
	color: #165f40;
}

a.red {
	border-bottom: solid rgba(160, 40, 28, 0.25) 1px;
}

a.red:hover {
	border-color: rgba(160, 40, 28, 1);
}

form p {
	margin-bottom: 0.5rem;
}

form p:last-child {
	margin-bottom: 0;
}

label .note {
	color: #aaaaaa;
	font-size: 0.625rem;
}

input[type="text"],
input[type="password"] {
	line-height: 1.5rem;
	height: 1.5rem;
	font-size: 0.7rem;
	font-family: "Scada";
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	padding: 0 0.625rem;
	border: solid #c5d7cf 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

textarea {
	line-height: 1rem;
	font-size: 0.7rem;
	font-family: "Scada";
	padding: 0.25rem 0.625rem;
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	border: solid #c5d7cf 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

p label {
	line-height: 1rem;
	margin-top: 0.25rem;
	vertical-align: top;
	display: inline-block;
	font-size: 0.7rem;
}

.required:after {
	content: "*";
	color: #aaaaaa;
	margin-left: 0.125rem;
}

select {
	line-height: 1.5rem;
	height: 1.5rem;
	font-size: 0.65rem;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	padding: 0 0.625rem;
	border: solid #c5d7cf 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}

.button.small {
	line-height: 1.25rem;
	height: 1.25rem;
	font-size: 0.6rem;
	font-weight: bold;
}

.button {
	line-height: 1.5rem;
	height: 1.5rem;
	font-size: 0.65rem;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	padding: 0 0.625rem;
	border: solid #c5d7cf 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}

.button:hover {
	border-color: #165f40;
}

.button.active {
	background-color: #165f40;
	color: #ffffff;
	border-color: #165f40;
}

.button [class*="icon-"] {
	font-size: 0.875rem;
}

.button [class*="icon-arrow-right"] {
	font-size: 0.625rem;
	color: #c5d7cf;
	margin-left: 0.125rem;
}

.button [class*="icon-arrow-left"] {
	font-size: 0.625rem;
	color: #c5d7cf;
	margin-right: 0.125rem;
}

.button.big {
	line-height: 1.9rem;
	height: 2rem;
	font-size: 0.75rem;
}

.button.huge {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.75rem;
	height: 2rem;
	line-height: 2rem;
}

.button-look {
	border: solid transparent 1px !important;
	border-radius: 2rem;
	padding: 0.125rem 0.5rem;
	margin-left: -0.5rem;
}

.button-look.active {
	border-color: #c5d7cf !important;
}

input[type="submit"].button.big {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	font-weight: bold;
}

.button.big [class*="icon-"] {
	font-size: 1rem;
	line-height: 1.875rem;
}

.button.red {
	background-color: #a0281c;
	color: #ffffff;
	border-color: #a0281c;
}

.button.red:hover {
	background-color: #b85e55;
	border-color: #b85e55;
}

.button.green {
	background-color: #165f40;
	color: #ffffff;
	border-color: #165f40;
}

.button.green:hover {
	background-color: #508770;
	border-color: #508770;
}

.button.next {
	background: url(../images/button-next.png) no-repeat right top;
	border: none;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 2rem;
	line-height: 2rem;
	/*width: 5rem;*/
	color: #ffffff;
	/*font-weight: bold;*/
	text-align: left;
	outline: none;
	font-size: 0.8rem;
	padding-left: 1rem;
	padding-right: 1.5rem;
	line-height: 2rem;
}

.button.next:hover {
	background-position: right bottom;
}

.button-group {
	display: inline-block;
	vertical-align: top;
}

.button-group > *,
.button-group > input {
	margin-left: -0.25rem;
	border-right-width: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.button-group > *:hover + *,
.button-group > input:hover + * {
	border-left-color: #165f40;
}

.pager.button-group > *:hover + *,
.pager.button-group > input:hover + * {
	border-left-color: #c5d7cf;
}

.button-group > *:first-child,
.button-group > input:first-child {
	margin-left: 0;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	padding-left: 0.75rem;
}

.button-group > *:last-child,
.button-group > input:last-child {
	border-right-width: 1px;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding-right: 0.75rem;
}


#site-footer .button-group > *:first-child,
#site-footer .button-group > input:first-child {
	padding-right: 0.5rem;
}

#site-footer .button-group > *:last-child,
#site-footer .button-group > input:last-child {
	padding-left: 0.5rem;
}


.pager {
	margin-top: 1.5rem;
}

.pager .button:hover {
	background-color: #dce7e3;
	border-color: #c5d7cf;
}

.pager .button.active {
	background-color: #165f40 !important;
	border-color: #165f40 !important;
}

.pager .button:hover [class*="icon-arrow-left"],
.pager .button:hover [class*="icon-arrow-right"] {
	color: #165f40;
}


*[data-quantity]:after {
	content: attr(data-quantity);
	width: 1.2rem;
	font-size: 0.6rem;
	display: inline-block;
	vertical-align: top;
	line-height: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	text-align: center;
	background-color: #165f40;
	color: #fff;
	position: relative;
	left: 0.5rem;
	top: 0.1rem;
}

*[data-quantity="0"]:after {
	content: none;
}



.switch {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.switch input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;
}

.switch .button {
	background-color: #165f40;
	color: #ffffff;
	border-color: #165f40;
}

.switch input[type="checkbox"]:hover ~ span .button {
	background-color: #508770;
	border-color: #508770;
}

.switch .button:last-child {
	background-color: transparent;
	color: inherit;
	border-color: #c5d7cf;
}

.switch input[type="checkbox"]:hover ~ span .button:last-child {
	background-color: transparent;
}

.switch input[type="checkbox"]:checked ~ span .button {
	background-color: transparent;
	color: inherit;
	border-color: #c5d7cf;
}

.switch input[type="checkbox"]:checked ~ span .button:last-child {
	background-color: #165f40;
	color: #ffffff;
	border-color: #165f40;
}

.switch input[type="checkbox"]:checked:hover ~ span .button {
	background-color: transparent;
	border-color: #508770;
}

.switch input[type="checkbox"]:checked:hover ~ span .button:last-child {
	background-color: #508770;
	border-color: #508770;
}


.order-switch {
	cursor: pointer;
	color: #165f40;
}

.order-switch .asc,
.order-switch .dsc {
	font-weight: bold;
	font-size: 0.75rem;
	vertical-align: top;
	position: relative;
	top: -2px;
}

.order-switch input ~ .dsc,
.order-switch input:checked ~ .asc {
	opacity: 0.3;
}

.order-switch input:checked ~ .dsc {
	opacity: 1;
}

.button .asc,
.button .dsc {
	opacity: 0.3;
}

.button .asc.active,
.button .dsc.active {
	opacity: 1;
}

input[type="checkbox"] ~ .checkbox {
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	vertical-align: top;
	border: solid #dddddd 0.05rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0.15rem;
	-moz-border-radius: 0.15rem;
	border-radius: 0.15rem;
	position: relative;
	cursor: pointer;
	top: 0.1rem;
	margin-right: 0.125rem;
}

input[type="checkbox"]:checked ~ .checkbox:after {
	content: url(../images/checkbox-check.png);
	position: absolute;
	left: 0.1rem;
	top: -0.3rem;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}


.captcha > *,
.captcha > input {
	vertical-align: middle;
	display: inline-block;
	margin-right: 0.5rem;
}

.captcha .reload {
	width: 1rem;
	text-align: center;
	cursor: pointer;
	color: #b0b0b0;
	text-decoration: none;
	font-size: 1rem;
	border-bottom: 0;
}

span.error {
	display: none;
}

p.error {
	position: relative;
	white-space: nowrap;
}

p.error > * {
	white-space: normal;
	vertical-align: top;
}

p.error > span.error {
	display: inline-block;
	vertical-align: top;
	color: #a0281c;
	margin-left: 0.5rem;
	position: relative;
	top: 0.25rem;
}

p.error > span {
	vertical-align: top;
	position: relative;
	top: 0.25rem;
}

.error .normal {
	color: #000;
}

#site-content p.error .error {
	width: 16rem;
}

form p .info {
	font-size: 0.7rem;
	position: relative;
	top: 5px;
	margin-left: 0.5rem !important;
}

form p .info .special1 {
	position: absolute;
	left: 0;
	top: -10px;
	white-space: nowrap;
}

.action * {
	vertical-align: middle;
}


/*	modal */

body.no-scroll {
	overflow: hidden;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	visibility: hidden;
	background-color: rgba(34,34,34,0.0);
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.modal article {
	position: relative;
	margin: 3rem auto;
	background-color: #ffffff;
	border-radius: 0.1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem;
	width: 18rem;
	text-align: center;
	-webkit-transform: translateY(-100px) translateZ(0);
	-moz-transform: translateY(-100px) translateZ(0);
	transform: translateY(-100px) translateZ(0);
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	font-size: 0.7rem;
}

.modal.show article {
	-webkit-transform: translateY(0px) translateZ(0);
	-moz-transform: translateY(0px) translateZ(0);
	transform: translateY(0px) translateZ(0);
	opacity: 1;
}

.modal.show {
	background-color: rgba(34,34,34,0.3);
}

*[data-toggle-modal] {
	cursor: pointer;
}

*[data-close-modal] {
	font-size: 2rem;
	border-bottom: 0;
	cursor: pointer;
	position: absolute;
	right: 0rem;
	top: 0rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	color: #222;
	text-align: center !important;
}

*[data-close-modal]:after {
	content: "×";
}

.modal h2 {
	color: #222;
	line-height: 1.25rem;
	margin-bottom: 1.25rem;
}

.modal .media > *:first-child {
	padding-right: 1rem;
	text-align: left;
}

.modal .media > * {
	vertical-align: top;
}


.modal .media small {
	line-height: 0.75rem;
	font-size: 0.55rem;
	display: block;
}

.modal .media .score {
	margin-top: 0.5rem;
}

/*.catalog *:not(.modal) .score {
	background: url(../images/button-flag-right.png) no-repeat right center;
	height: 1.75rem;
	padding: 0 1.25rem 0 0.75rem;
	background-size: auto 100%;
	display: inline-block;
	color: #ffffff;
	line-height: 1.75rem;
	font-size: 0.8rem;
	position: absolute;
	left: 0;
	top: 140px;
}*/

#login form p:last-child input {
	margin-bottom: 0.5rem;
}

#login form input {
	width: 70%;
}


/*	landing */
body.landing {
	background: url(../images/flowers-back.jpg) repeat-x center top;
}

body.landing #site-header {
	background-image: none;
}

.index-promo-subheader {
	font-size: 1.2rem;
	color: #a0281c;
	position: relative;
}

/*.index-promo-subheader:after {
	content: url(../images/promo-arrow.png);
	position: absolute;
	right: -0.5rem;
	bottom: -2rem;
}*/


#promo-banner > *[class*="column"] {
	vertical-align: middle;
}

#promo-banner {
	margin-bottom: 3rem;
}

#promo-banner .enter-code,
#promo-banner .enter-subscribe {
	margin-left: auto;
}

#promo-menu {
	background-color: #ffffff;
	padding: 3.5rem 0rem;
}

#promo-menu .media {
	margin-bottom: 2.5rem;
}

#promo-menu .column2 > * {
	display: block;
}

#promo-menu .media a {
	color: #222;
	border-bottom: solid rgba(45, 45, 45, 0.25) 1px;
}

#promo-menu .media a:hover {
	color: #222;
	border-bottom: solid rgba(45, 45, 45, 1) 1px;
}

#promo-menu a {
	color: #222222;
}

#promo-menu a h4 .border {
	border-bottom: solid rgba(45, 45, 45, 0.25) 1px;
}


#promo-menu a:hover .border {
	border-bottom: solid rgba(45, 45, 45, 1) 1px;
}

#promo-banner .contest-end {
	margin-bottom: 30px;
}

#promo-banner .contest-end > * {
	vertical-align: middle;
}

#promo-banner .contest-end h1 {
	line-height: 2.25rem;
}

#promo-banner .single-image {
	margin-bottom: 20px;
}

#promo-banner .action {
	margin-top: 30px;
}


/*	Header */

#site-header {
	background: transparent url(../images/flowers-back.jpg) center top;
	height: 6.5rem;
	padding-top: 1.5rem;
}

#site-header .auth {
	white-space: nowrap;
	padding-top: 1.5rem;
	text-align: right;
	position: relative;
}

#site-header .auth a {
	margin-left: 0.5rem;
}

#site-header .auth a:first-child {
	margin-left: 0;
}

#site-header .auth .avatar {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	margin-right: 0.5rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#site-header .auth .user-name {
	position: absolute;
	top: 2.75rem;
	right: 0rem;
	font-size: 0.7rem;
	width: 9.3rem;
	text-align: left;
	display: block;
}

#site-header .auth .additional {
	position: absolute;
	top: 4.25rem;
	right: 0rem;
}

#site-header .auth .additional.yellow-button {
	height: 1.5rem;
	line-height: 1.5rem;
	z-index: 20;
	width: 8rem;
}

#site-header .menu {
	padding-top: 1.5rem;
	z-index: 2;
}


#site-header .menu a,
#tests-list a {
	display: inline-block;
	vertical-align: top;
	line-height: 1.375rem;
	height: 1.5rem;
	padding: 0 2px;
	margin: 0 0.75rem;
	position: relative;
	border: solid transparent 1px;
	border-left: 0;
	border-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#site-header .menu a {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

#site-header .menu a:first-child {
	/*margin-left: 0;*/
}

#site-header .menu a.active,
#tests-list a.active {
	border-top: solid rgba(22, 95, 64, 0.5) 1px;
	border-bottom: solid rgba(22, 95, 64, 0.5) 1px;
	position: relative;
}

#site-header .menu a.active:before,
#tests-list a.active:before {
	content: " ";
	position: absolute;
	left: -16px;
	top: -1px;
	background: url(../images/tea-link-left.png) no-repeat left top;
	height: 30px;
	width: 16px;
	opacity: 0.5;
}

#site-header .menu a.active:after,
#tests-list a.active:after {
	content: " ";
	position: absolute;
	right: -16px;
	top: -1px;
	background: url(../images/tea-link-right.png) no-repeat left top;
	height: 30px;
	width: 16px;
	opacity: 0.5;
}

#site-header .menu {
	position: relative;
	left: -0.875rem;
	white-space: nowrap;
}

#site-header a {
	border: 0;
}


/*	Footer */

#site-footer {
	padding-top: 2rem;
	padding-bottom: 1rem;
	background-color: #f8f8f8;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#site-footer .row {
	margin-bottom: 0.5rem;
}

#site-footer .button-group {
	position: relative;
	top: -0.5rem;
}

#site-footer .row:last-child {
	margin-bottom: 0;
}

#site-footer .credits,
#site-footer .copyrights {
	font-family: "Mirta", serif;
	font-style: normal;
}

#site-footer *[class*="column"]:last-child {
	text-align: right;
}

#site-footer *[class*="column"] {
	white-space: nowrap;
}


/*	Main */

#site-main {
	padding-bottom: 6.5rem;
}

#site-main .row {
	position: relative;
}

#site-main #site-sub-menu {
	line-height: 2rem;
	position: absolute;
	left: 0;
	top: -2rem;
	z-index: 5;
}

#site-main #site-sub-menu a {
	margin-right: 0.8rem;
	color: #a0281c;
	text-decoration: none;
	border-bottom: solid transparent 2px;
	display: inline-block;
	vertical-align: top;
}

#site-main #site-sub-menu a.active {
	border-bottom: solid #a0281c 2px;
}

#site-content {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

#site-content.wide {
	padding: 0;
	margin: 0;
	width: auto;
}

#tests-list a {
	white-space: nowrap;
}

.test-question p {
	margin-bottom: 0.5rem;
}

.test-question p:last-child {
	margin-bottom: 0;
}

.test-question .total {
	color: #aaaaaa;
}

.test-result .illustration {
	margin-bottom: 0.375rem;
}

.test-result .share {
	color: #aaaaaa;
}

.test-result .share p {
	margin-bottom: 0.5rem;
}

.test-result .share .button-group {
	margin-right: 0.5rem;
}

.pack-with-shadow-1 {
	position: relative;
}

.pack-with-shadow-1 img {
	position: relative;
	z-index: 2;
}

.pack-with-shadow-1:before {
	content: " ";
	position: absolute;
	z-index: 1;
	left: 30px;
	top: 72px;
	background: url(../images/shadow-of-the-pack-1.png) no-repeat left top;
	width: 325px;
	height: 209px;
}

.enter-code,
.enter-subscribe {
	text-align: center;
	width: 294px;
	height: 294px;
	position: relative;
	color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 4.5rem;
}

.enter-subscribe {
	padding-top: 5rem;
}

.enter-code img,
.enter-subscribe img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.enter-code:before,
.enter-subscribe:before {
	content: " ";
	background: url(../images/code-shadow.png) no-repeat left top;
	left: -43px;
	top: -33px;
	opacity: 0.2;
	width: 380px;
	height: 380px;
	position: absolute;
	background-size: cover;
	z-index: 0;
}

.enter-subscribe:before {
	background: url(../images/code-subscribe-shadow.png) no-repeat left top;
}

.enter-code > *,
.enter-subscribe > * {
	position: relative;
	z-index: 5;
}

.enter-code h3,
.enter-subscribe h3 {
	font-size: 1rem;
	line-height: 1.25rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.enter-code p,
.enter-subscribe p {
	margin-bottom: 0.75rem;
}

.enter-code input[type="text"],
.enter-subscribe input[type="text"] {
	font-size: 0.8rem;
	outline: none;
	border-radius: 1rem;
	height: 2rem;
	width: 8.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.5rem;
	text-align: center;
	font-family: "Scada";
}

.enter-subscribe.subscribed {
	padding-top: 4rem;
}

.enter-subscribe.subscribed > *:not(img) {
	display: none;
}

.enter-subscribe.subscribed:after {
	content: "На ваш электронный адрес отправлена ссылка для подтверждения подписки на рассылку";
	padding-top: 40px;
	background: url(../images/icon-mail.png) no-repeat center top;
	position: relative;
	z-index: 2;
	font-family: Mirta, serif;
	color: #222;
	font-size: 14px;
	letter-spacing: -0.01em;
	line-height: normal;
	width: 60%;
	margin: 0 auto;
	display: block;
}

.enter-subscribe input[type="submit"] {
	width: 8.5rem;
	padding: 0 0.5rem;
	font-family: Scada, sans-serif;
}

.enter-code input[type="submit"],
.yellow-button {
	font-size: 0.8rem;
	outline: none;
	border-radius: 1rem;
	height: 2rem;
	width: 8.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.5rem;
	text-align: center;
	color: #000000;
	font-family: "Scada";
	cursor: pointer;
	background: #fcdead; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcdead 0%, #f8c266 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcdead), color-stop(100%,#f8c266)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcdead 0%,#f8c266 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcdead 0%,#f8c266 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcdead 0%,#f8c266 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcdead 0%,#f8c266 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdead', endColorstr='#f8c266',GradientType=0 ); /* IE6-9 */
}

.yellow-button {
	line-height: 2rem;
}

.enter-code input[type="submit"]:hover,
/*.enter-subscribe input[type="submit"]:hover,*/
.yellow-button:hover {
	background: #fde6c2; /* Old browsers */
	background: -moz-linear-gradient(top,  #fde6c2 0%, #fad28d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fde6c2), color-stop(100%,#fad28d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fde6c2 0%,#fad28d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fde6c2 0%,#fad28d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fde6c2 0%,#fad28d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fde6c2 0%,#fad28d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde6c2', endColorstr='#fad28d',GradientType=0 ); /* IE6-9 */
}

table {
	table-layout: fixed;
	border: 0;
	border-collapse: collapse;
	width: 100%;
}

table th {
	text-align: left;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-top: solid #dddddd 1px;
	border-bottom: solid #dddddd 1px;
	font-weight: normal;
	vertical-align: top;
	word-wrap: break-word;
}

table td {
	vertical-align: top;
	word-wrap: break-word;
}

table td {
	padding-top: 0.5rem;
}

table.stories td {
	padding-right: 1rem;
	padding-bottom: 1rem;
}

table.stories .images-preview {
	margin-top: 0.5rem;
}

table.stories .images-preview img {
	height: 2rem;
	margin-right: 0.125rem;
}

table.basket td {
	padding-bottom: 1rem;
	padding-top: 1rem;
}


.score-table {
	margin: 0 auto;
}

.score-info {
	list-style: none;
	margin-left: 0;
}

ul.score-info li:before {
	content: none;
}

.score-info li {
	display: inline-block;
	vertical-align: top;
	background-color: #f3f3ea;
	padding: 0.375rem 0.75rem;
	white-space: nowrap;
	margin-right: 0.125rem;
	border-radius: 3px;
	margin-bottom: 0;
}

.score-info li strong,
.score-info li em {
	display: block;
	color: #a0281c;
	font-size: 1rem;
	line-height: 1.5rem;
}

.score-info li em {
	font-weight: normal;
	font-style: normal;
}


ul.catalog {
	list-style: none;
	margin-top: 1rem;
	margin-left: 0;
}

ul.catalog li {
	display: inline-block;
	margin-bottom: 3rem;
	position: relative;
}

ul.catalog li:before {
	content: none;
}


.catalog .info {
	position: relative;
}

.catalog .info:before {
	content: " ";
	width: 30px;
	height: 1px;
	background-color: #dddddd;
	left: 0;
	top: -0.5rem;
	position: absolute;
}

.catalog .news {
	color: #a0281c;
}

.catalog .presence {
	color: #aaaaaa;
}

.catalog p {
	margin-bottom: 1rem;
	margin-top: 0.25rem;
	margin-right: 2rem;
}

.catalog h3 {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.75rem;
}

.catalog .image {
	display: table-cell;
	vertical-align: bottom;
	height: 210px;
}

.catalog .order {
	margin-top: 0.75rem;
}

.catalog *:not(.modal) .score {
	background: url(../images/button-flag-right.png) no-repeat right center;
	height: 1.75rem;
	padding: 0 1.25rem 0 0.75rem;
	background-size: auto 100%;
	display: inline-block;
	color: #ffffff;
	line-height: 1.75rem;
	font-size: 0.8rem;
	position: absolute;
	left: 0;
	top: 140px;
}

/*.catalog .with-badge {
	display: flex;
	position: relative;
	margin-bottom: 1rem;
	height: 210px;
}

.catalog .with-badge img {
	display: block;
	align-self: flex-end;
}*/

.catalog .official {
	font-size: 16px;
}

.catalog li:nth-child(odd) {
	margin-left: 0;
}

.catalog li:nth-child(even) {
	margin-right: 0;
}

.catalog h3 {
	font-weight: 500;
	font-size: 21px;
	margin-bottom: 0.5rem;
	margin-top: 0.75rem;
}

.catalog  .badge {
	position: absolute;
	left: 5rem;
	top: 7.5rem;
	width: 90px;
	height: 90px;
	background: url(../images/badge.png) no-repeat center center;
	color: #fff;
	box-sizing:border-box;
	text-align: center;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1;
	font-size: 12px;
}

.catalog .badge strong {
	font-size: 14px;
	display: block;
}

.side-banner {
	position: absolute;
	display: block;
	left: 1rem;
	top: 2rem;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	border-bottom: 0;
}

.wide .side-banner {
	left: 50%;
	margin-left: -24.5rem;
	z-index: 2;
}

.introduction {
	color: #aaaaaa;
}


/*	media */

.half {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.date {
	color: #aaaaaa;
}

.media {
	white-space: nowrap;
}

.media > * {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.media.column2 > p {
	max-width: 230px;
}

.media-round-image {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

.media-round-image.small {
	width: 3rem;
	height: 3rem;
}

.media-round-image.avatar {
	margin-right: 1rem;
}

.column1 .media-round-image {
	display: block;
	margin: 0 auto;
}

.media-basket-image.small {
	height: 3rem;
	width: 4.5rem;
}

.media-basket-image.small img {
	display: block;
	height: 100%;
}

a.media-basket-image {
	border-bottom: none;
}

.media-round-item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	border: solid rgba(22, 95, 64, 0.25) 0.05rem;
	padding-top: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.media-round-item.active {
	border-color: rgba(22, 95, 64, 1);
}

.media-round-item *[class*="icon-"] {
	font-size: 1.5rem;
	line-height: 2rem;
}

.media-round-item.inactive {
	border-color: transparent;
}

.media-round-item .icon-tealeaf,
.media-round-item .icon-teabag {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-bottom: 0.25rem;
}

a.media {
	border: 0;
}

.heart-item {
	font-size: 0.6rem;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	background: url(../images/heart.svg) no-repeat center center;
	margin-right: 0.5rem;
}

.heart-item.active {
	background-image: url(../images/heart-invert.svg);
	color: #ffffff;
}

/*	shadows */

img.shadow1 {
	-webkit-box-shadow: 0px 5px 20px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 20px -1px rgba(0,0,0,0.2);
}


/* upload */


.upload-photo .preview {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/empty-photo.png) no-repeat center center;

}

.upload-photo .info {
	position: absolute;
	top: -1.5rem;
	left: 50%;
	-webkit-transform: translateX(-50%) translateZ(0);
	-moz-transform: translateX(-50%) translateZ(0);
	transform: translateX(-50%) translateZ(0);
	opacity: 0.5;
	white-space: nowrap;
	font-size: 0.625rem;
}

#change-avatar.upload-photo .preview {
	width: 4rem;
	height: 4rem;
	margin-right: 0.5rem;
	background: url(../images/empty-avatar.png) no-repeat left center;
}

#change-avatar.upload-photo .preview.loaded {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

#change-avatar.upload-photo .preview.male {
	background-image: url(../images/empty-avatar-male.png);
}

#change-illustrations .upload-photo.big,
#change-illustrations .upload-photo.top {
	position: relative;
}

#change-illustrations .upload-photo.big .preview,
#change-illustrations .upload-photo.big .browse {
	width: 15.5rem;
	height: 18rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
}

#change-illustrations .upload-photo.top .preview,
#change-illustrations .upload-photo.bottom .preview,
#change-illustrations .upload-photo.top .browse,
#change-illustrations .upload-photo.bottom .browse {
	width: 7rem;
	height: 7rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
}

.upload-photo .browse {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.upload-photo .browse input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	opacity: 0.0;
	outline: none;
	cursor: pointer;
}

/*	icons */
.icon-heart,
.icon-comment {
	font-size: 1rem;
	vertical-align: middle;
}

.icon-heart {
	position: relative;
	top: -1px;
}


/*	illustrations */

.illustrations {
	position: relative;
	margin: 1rem 0 2rem 0;
}

.illustrations .big {
	height: 370px;
}

.illustrations .top,
.illustrations .bottom {
	height: 7.5rem;
}

.illustrations img {
	width: 100%;
	height: 100%;
	display: block;
}

.illustrations .top,
.illustrations .bottom,
.illustrations .big {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid #ffffff 0.25rem;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
	background: whitesmoke url(../images/empty-photo.png) no-repeat center center;
}

.illustrations .top {
	margin-left: 3.5rem;
	margin-top: 0.75rem;
	-webkit-transform: translateZ(0) rotateZ(5deg);
	-moz-transform: translateZ(0) rotateZ(5deg);
	transform: translateZ(0) rotateZ(5deg);
}

.illustrations .bottom {
	position: absolute;
	top: 10.25rem;
	left: 19.5rem;
	-webkit-transform: translateZ(0) rotateZ(-5deg);
	-moz-transform: translateZ(0) rotateZ(-5deg);
	transform: translateZ(0) rotateZ(-5deg);
}

/* 	winner illustrations */

.winner-illustrations {
	position: absolute;
	left: 370px;
	top: 10px;
}

.winner-illustrations .image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.winner-illustrations .image.big {
	width: 100px;
	height: 120px;
}

.winner-illustrations .image.small {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 125px;
}

.winner-illustrations .image.top {
	top: 0;
	-moz-transform: rotateZ(5deg) translateX(-5px) translateY(5px);
	-webkit-transform: rotateZ(5deg) translateX(-5px) translateY(5px);
	transform: rotateZ(5deg) translateX(-5px) translateY(5px);
}

.winner-illustrations .image.bottom {
	bottom: 0;
	-moz-transform: rotateZ(-5deg) translateY(-1px);
	-webkit-transform: rotateZ(-5deg) translateY(-1px);
	transform: rotateZ(-5deg) translateY(-1px);
}


/*	comments */

.leave-comment .column3 {
	margin-left: 0.4rem;
}

.comments .title {
	margin-bottom: 0.5rem;
}

.comments .date:before {
	content: "·";
	margin-left: 0.5rem;
	margin-right: 0.45rem;
}

.comments {
	list-style: none;
	margin: 2rem 0 2rem 0;
}

ul.comments li:before {
	content: none;
}

.comments li {
	position: relative;
	padding-left: 4rem;
	margin-bottom: 2rem;
}

.comments li:last-child {
	margin-bottom: 0;
}

.comments .avatar {
	position: absolute;
	width: 3rem;
	height: 3rem;
	display: block;
	left: 0;
	top: -0.5rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.tabs .tab {
	display: none;
}

.tabs > input[type="radio"] {
	display: none;
}

.tabs .tabs-menu label {
	border-color: transparent;
	position: relative;
	top: 0.05rem;
}

.tabs .tabs-menu h2 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.tabs input[value="1"]:checked ~ .tabs-menu [data-tab-link="1"],
.tabs input[value="2"]:checked ~ .tabs-menu [data-tab-link="2"],
.tabs input[value="3"]:checked ~ .tabs-menu [data-tab-link="3"],
.tabs input[value="4"]:checked ~ .tabs-menu [data-tab-link="4"],
.tabs input[value="5"]:checked ~ .tabs-menu [data-tab-link="5"],
.tabs input[value="6"]:checked ~ .tabs-menu [data-tab-link="6"],
.tabs input[value="7"]:checked ~ .tabs-menu [data-tab-link="7"],
.tabs input[value="8"]:checked ~ .tabs-menu [data-tab-link="8"],
.tabs input[value="9"]:checked ~ .tabs-menu [data-tab-link="9"],
.tabs input[value="0"]:checked ~ .tabs-menu [data-tab-link="0"] {
	border-color: rgba(22, 95, 64, 0.25);
}

.tabs input[value="0"]:checked ~ .tab[data-tab="0"],
.tabs input[value="1"]:checked ~ .tab[data-tab="1"],
.tabs input[value="2"]:checked ~ .tab[data-tab="2"],
.tabs input[value="3"]:checked ~ .tab[data-tab="3"],
.tabs input[value="4"]:checked ~ .tab[data-tab="4"],
.tabs input[value="5"]:checked ~ .tab[data-tab="5"],
.tabs input[value="6"]:checked ~ .tab[data-tab="6"],
.tabs input[value="7"]:checked ~ .tab[data-tab="7"],
.tabs input[value="8"]:checked ~ .tab[data-tab="8"],
.tabs input[value="9"]:checked ~ .tab[data-tab="9"] {
	display: block;
}


/*	winner */

.winner {
	padding-left: 5rem;
	position: relative;
}

.winner .position {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
}

.official {
	font-family: Mirta, serif;
	color: #222222;
}

.winner .official {
	font-size: 0.8rem;
	line-height: 1.125rem;
}

.winner .subhead {
	color: #b5975e;
	position: relative;
	top: -0.5rem;
}

.winner-item {
	margin-bottom: 3rem;
}

.winner-item:last-of-type {
	margin-bottom: 0;
}

.work-info {
	position: relative;
}

.works {
	list-style: none;
	margin-left: 0;
}

.works h4,
.works p {
	margin-right: 1rem;
}

.works li {
	margin-bottom: 3rem;
}

.works li:before {
	content: none;
}

.works li:nth-child(even) {
	margin-right: 0;
}

.works li:nth-child(odd) {
	margin-left: 0;
}

.filter .switch-order {
	margin-right: 0.25rem;
}

.filter .search {
	margin-left: 2rem;
}


/*	preloader */

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 95, 64, 0.8);
	z-index: 10000;
}

.clock{
	border-radius: 60px;
	border: 3px solid #fff;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: #fff;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #fff;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/*	Fotorama and wallpapers */

.fotorama[data-width="100%"] {
	position: relative;
	z-index: 1;
}

.fotorama[data-width="100%"] .slide {
	width: 100%;
	/*background-color: whitesmoke;*/
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.widget_on {
	overflow: hidden;
}

ul.faq {
	margin-left: 0;
}

ul.faq > li:before {
	content: none;
}

ul.faq > li {
	margin-bottom: 2rem;
}

ul.faq > li table {
	margin: 1rem 0rem;
}


a.widget-tab,
a.widget-tab-right {
	height: 180px !important;
	background-image: url(../images/support.png) !important;
	background-color: #165f40 !important;
}

a.widget-tab img,
a.widget-tab-right img {
	visibility: hidden !important;
}



#promo-banner .fotorama[data-width] {
	position: relative;
	left: -1rem;
	width: 700px;
}

#promo-banner .slide {
	white-space: nowrap;
	height: 390px;
}

#promo-banner .slide > * {
	white-space: normal;
}

#promo-banner .slide:before {
	content: " ";
	width: 1px;
	height: 390px;
	display: inline-block;
	vertical-align: middle;
}

#promo-banner .slide h1 {
	font-size: 1.625rem;
}

#promo-banner .slide .column2 {
	vertical-align: middle;
}

#promo-banner .slide .column2:last-child {
	position: relative;
	left: -2rem;
	width: 19.5rem;
}

.fotorama .fotorama__video-close {
	display: none;
}

/*	Обои */
#wallpapers {
	width: 100%;
	/*height: 520px;*/
}

#wallpapers .slide {
	color: #ffffff;
	height: 520px;
	text-shadow: 0px 1px 5px rgba(0,0,0,0.9);
}

/*#wallpapers .slide > * {
	background-color: rgba(255,0,50, 0.1);
}*/

#wallpapers .slide .download {
	position: absolute;
	left: 50%;
	bottom: 2rem;
	margin-left: 9rem;
}

#wallpapers .slide .download a {
	color: #ffffff;
	margin-right: 0.5rem;
	border-color: rgba(255,255,255,0.25);
}

#wallpapers .slide .download a:hover {
	border-color: rgba(255,255,255,1);
}

#wallpapers .slide .title {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin-left: -16.5rem;
	font-family: "Mirta";

}

#wallpapers .slide .title h1 {
	/*font-size: */
}


/*	Спецмодалка*/

#entercode.modal article {
	width: 300px;
	height: 300px;
	background-color: transparent;
	box-shadow: none;
	margin-top: 8rem;
}

#entercode.modal article:after {
	content: " ";
	position: absolute;
	left: 0px;
	top: 0px;
	background: transparent url(../images/code-back.png) no-repeat center center;
	width: 300px;
	height: 300px;
	z-index: 1;
}

#entercode.modal article:before {
	content: " ";
	background: url(../images/code-shadow.png) no-repeat left top;
	left: -43px;
	top: -33px;
	opacity: 0.2;
	width: 380px;
	height: 380px;
	position: absolute;
	background-size: cover;
	z-index: 0;
}

#entercode.modal article > * {
	position: relative;
	z-index: 2;
}

#entercode.modal [data-close-modal] {
	left: 6rem;
	z-index: 5;
}

#entercode.modal .enter-code,
#entercode.modal .enter-code:before {
	background: none;
}

#entercode.modal form.enter-code {
	margin-left: -1rem;
	padding-top: 2rem;
}


/* Стили для раздела пригласи друга */
p small {
	font-size: 12px;
	color: #222222;
}

.pdf {
	text-transform: uppercase;
	color: #fff;
	background: #D52E19;
	border-radius: 9px;
	font-size: 12px;
	padding: 2px 5px;
}

.share-instruction {
	overflow: hidden;
}

.share-instruction-step {
	width: 33%;
	float: left;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.share-instruction-step .step-icon {
	text-align: center;
	margin-bottom: 6px;
	max-width: 75%;
}

.share-instruction-step h3 {
	color: #111;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 6px;
}

.share-instruction-step p {
	font-size: 14px;
	line-height: 18px;
	color: #222;
}

.share-instruction-step:first-child {
	padding-left: 0px;
}

.share-no-authorization {
	padding-top: 18px;
	border-top: solid 1px #ddd;
	text-align: center;
	margin-bottom: 90px;
}

.share-no-authorization p {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 18px;
}

.share-no-authorization .yellow-button {
	height: 1.5rem;
  	line-height: 1.5rem;
  	display: inline-block;
  	padding-left: 14px;
  	padding-right: 14px;
  	width: auto;
}

#promo-banner-share {
	margin-bottom: 108px;
}

#promo-banner-share .enter-code {
	margin-top: 30px;
}

#promo-banner-share h1 {
	margin-bottom: 36px;
	margin-top: 32px;
	line-height: 46px;
}

#promo-banner-share .share-instruction .step-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 11px;
	margin-bottom: 0px;
}

#promo-banner-share .share-instruction .step-icon img {
	display: block;
}

#promo-banner-share .share-instruction h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

#promo-banner-share .share-instruction {
	display: table;
	width: 100%;
	border-bottom: solid 1px #eae3d1;
	padding-bottom: 48px;
	margin-bottom: 18px;
	max-width: 614px;
}

#promo-banner-share .share-instruction-step {
	overflow: hidden;
	width: auto;
	padding-left: 0px;
	margin-left: 0px;
	display: table-cell;
	float: none;
}



/* Sharing section */
.sharing {
	background-color: #f1f1f1;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 41px;
	padding-bottom: 62px;
	margin-left: -30px;
	margin-right: -30px;
}

.sharing textarea {
	border-radius: 15px;
	height: 60px;
}

.sharing h3 {
	margin-bottom: 15px;
	color: #111;
	font-size: 16px;
	font-weight: bold;
}

.score-table-title {
	color: #111;
	font-size: 16px;
	font-weight: bold;
}

.sharing-social {
	margin-bottom: 43px;
}

.sharing-email h3 {
	margin-bottom: 21px;
}

.share-email-form label {
	width: 155px;
	margin-right: 10px;
	float: left;
	font-size: 14px;
	margin-top: 6px;
}

.share-email-form .control {
	overflow: hidden;
}

.share-email-form .control input {
	width: 210px;
}

.share-email-form .form-row {
	margin-bottom: 9px;
	overflow: hidden;
}

.share-email-form .form-row.row--submit {
	margin-top: 25px;
}

#share-message-count {
	font-size: 14px;
	color: #212121;
	margin-bottom: 16px;
	margin-left: 0.5rem;
}

.share-email-form .error {
	color: #a0281c;
	font-size: 14px;
	margin-left: 0.5rem;
	display: block;
}

.share-email-form-submit {
	margin-left: 170px;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	font-size: 16px;
	font-family: "Scada", sans-serif;
	padding-left: 22px;
	padding-right: 22px;
	margin-right: 18px;
}

.control textarea {
	margin-bottom: 11px;
}

.share-email-form-success {
	line-height: 40px;
	font-size: 14px;
}

.sharing-social-column {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.sharing-social-column textarea {
	width: 100%;
}

#share-message {
	width: 414px;
	height: 90px;
}

/* Social links */
.social-links {
	overflow: hidden;
	margin: 0px;
	margin-top: 25px;
}

.social-links li {
	float: left;
	margin: 0px;
	margin-left: 13px;
}

.social-links li:first-child {
	margin-left: 0px;
}

.social-links li::before {
	display: none;
}

.social-links li a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/social-share-sprite.png) no-repeat;
	text-indent: -9999px;
	border: none;
}

.social-links-twitter {
	background-position: 0px 0px !important;
}

.social-links-facebook {
	background-position: -54px 0px !important;
}

.social-links-google {
	background-position: -107px 0px !important;
}

.social-links-vk {
	background-position: -159px 0px !important;
}

.social-links-ok {
	background-position: -213px 0px !important;
}

.social-links-mailru {
	background-position: -266px 0px !important;
}

/* 	Спасиба за истории */

#thanks-to-all {
	background-color: #f6efe3;
	margin-left: 5rem;
	margin-right: 4.5rem;
	margin-top: 3rem;
	font-family: "Mirta", serif;
	color: #b5975e;
	font-size: 0.9rem;
	line-height: 1.25rem;
	box-sizing: border-box;
	text-align: center;
	padding: 2rem;
	position: relative;
}

#thanks-to-all:after {
	content: " ";
	position: absolute;
	left: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/corners.png) no-repeat center center;
}

#thanks-to-all:before {
	content: " ";
	position: absolute;
	right: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/corners.png) no-repeat center center;
}

#thanks-to-all .corners:after {
	content: " ";
	position: absolute;
	left: -10px;
	bottom: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/corners.png) no-repeat center center;
}

#thanks-to-all .corners:before {
	content: " ";
	position: absolute;
	right: -10px;
	bottom: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/corners.png) no-repeat center center;
}