<!DOCTYPE html>
<html lang="ru" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="AhmadClubApp">
<head>
	<meta charset="utf-8">
	<!-- <meta id="meta" name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta property="og:title" content="Клуб Ahmad" />
	<meta property="og:url" content="http://ahmad-club.herokuapp.com" />
	<meta property="og:image" content="http://ahmad-club.herokuapp.com/images/ahmad-logo-fb.png" />
	<meta property="og:description" content="Покупайте чай Ahmad Tea C символом клуба From Ahmad Tea with love. С 1 февраля по 30 июля регистрируйте коды с пачек. Копите баллы и получайте замечательные подарки." />

	<title>Ahmad</title>

	<!-- jQuery -->
	<script src="lib/jquery/jquery-1.11.2.min.js"></script>

	<!-- Croppic -->
	<script src="lib/croppic/croppic.min.js"></script>
	<link rel="stylesheet" href="lib/croppic/croppic.css">

	<!-- Angular -->
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-ui-router/angular-ui-router.min.js"></script>

	<!-- Ahmad App -->
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	<script src="js/app.js"></script>
	<script src="js/modal.js"></script>
	<script src="js/upload.js"></script>
	<script src="js/text-limit.js"></script>
</head>
<body ng-class="{landing: $state.includes('index') || $state.includes('indexpromo') || $state.includes('indexcontestend')}">

	<div id="preloader"><div class="clock"></div></div>
	<script>
		// ТОЛЬКО ЧТОБ ПОКАЗАТЬ ПРЕЛОАДЕР
		$("#preloader").hide();
		function preloaderShow() {
			$("#preloader").show();
			$("body").addClass("no-scroll");
		}
		function preloaderHide() {
			$("#preloader").hide();
			$("body").removeClass("no-scroll");
		}
		$("#preloader").on("click", function() {
			preloaderHide();
		});
	</script>

	<div id="site-header">
		<div class="row">
			<div class="column1 logo">
				<a href="#" ui-sref="index">
					<img src="images/ahmad-logo.svg" width="122">
					<!--[if lte IE 8]><img src="images/ahmad-logo.png"><![endif]-->
				</a>
			</div>
			<div class="column3 menu">
				<a href="#/contest" ng-class="{active: $state.current.name.indexOf('contest') == 0}"><span class="border">Конкурс</span></a>
				<a href="#/teatime" ng-class="{active: $state.current.name.indexOf('teatime') == 0}"><span class="border">Титайм</span></a>
				<a href="#" ui-sref="catalog" ui-sref-active="active"><span class="border">Подарки</span></a>
				<a href="#" ui-sref="teacard" ui-sref-active="active"><span class="border">Чайная карта</span></a>
				<a href="#/help" ng-class="{active: $state.current.name.indexOf('help') == 0}"><span class="border">Помощь</span></a>
				<a href="http://ahmadtea.ru"><span class="border">ahmadtea.ru</span></a>
			</div>
			<div class="column2 auth">
				<!-- <a href="#/auth/login" class="button green">Вход</a>
				<a href="#/auth/registration" class="button red">Регистрация</a> -->
				<a href="#/cabinet" ng-class="{active: $state.current.name.indexOf('catalog') == 0}"><span class="avatar" style="background-image: url(images/person.png);"></span><span class="border">Личный кабинет</span></a>
				<a href="#" class="button red">Выход</a>

				<span class="user-name">Светлана</span>

				<a class="additional yellow-button" data-toggle-modal="#entercode"
						ng-if="$state.current.name != 'index' && $state.current.name != 'cabinet.score'">Активировать код</a>
			</div>
		</div>
	</div>


	<div id="site-main" ui-view="main"></div>


	<div id="site-footer">
		<div class="row">
			<div class="column2">
				Расскажите друзьям &nbsp;
				<div class="button-group">
					<a href="#" class="button big"><span class="icon-odnoklassniki"></span></a>
					<a href="#" class="button big"><span class="icon-facebook"></span></a>
				</div>
			</div>
			<div class="column2">
				Присоединяйтесь &nbsp;
				<div class="button-group">
					<a href="#" class="button big"><span class="icon-odnoklassniki"></span></a>
					<a href="#" class="button big"><span class="icon-facebook"></span></a>
				</div>
			</div>
			<div class="column2">
				<a href="#">Обратная связь</a> &emsp;
				<a href="#">Полные правила программы</a>
			</div>
		</div>
		<div class="row">
			<div class="column3 copyrights">&copy; Ahmad Tea 2015. <a href="http://www.ahmadtea.ru">www.ahmadtea.ru</a></div>
			<div class="column3 credits">Сделано <a href="#">нек4</a></div>
		</div>
	</div>

	<div id="codelimit" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Лимит кодов превышен.<br> Введите код безопасности.</h2>
			<form>
				<p class="captcha">
					<span class="captcha column2">
						<input type="text" class="tiny">
						<img src="images/captcha.png">
						<a href="#" class="reload"><span class="icon-reload"></span></a>
						<input class="button green" type="submit" value="Ввести">
					</span>
				</p>
			</form>
			<p>&nbsp;</p>
		</article>
	</div>

	<div id="scorelimit" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Недостаточно баллов для <br>совершения заказа.</h2>
			<ul class="score-info"><li><em>У вас 550 баллов</em></li></ul>
			<p>&nbsp;</p>
			<p><a href="#">Добавить новый код</a></p>
			<p>&nbsp;</p>
		</article>
	</div>

	<div id="youaddsomething" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Вы добавили:</h2>
			<div class="media">
				<div class="half">
					<p>Фото-рамка</p>
					<p><small>Китайский фарфор идеально подходит для заваривания чая.</small></p>
					<p class="score"><strong class="green">800 баллов</strong></p>
				</div>
				<div class="half">
					<ul class="score-info"><li>У вас осталось<em>500 баллов</em></li></ul>
				</div>
			</div>
			<p>&nbsp;</p>
			<p><a href="#">Продолжить выбирать</a><br> <a href="#">Перейти в личный кабинет</a></p>
			<p>&nbsp;</p>
		</article>
	</div>


	<div id="login" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Вход:</h2>
			<form>
				<p><input type="text" class="wide" placeholder="логин"></p>
				<p><input type="password" class="wide" placeholder="пароль"></p>
				<p><input type="submit" class="button green" value="Войти"> <br>или <br><a class="red">Зарегистрироваться</a></p>
			</form>
			<p>&nbsp;</p>
		</article>
	</div>

	<div id="entercode" class="modal">
		<article>
			<a data-close-modal></a>
			<form class="enter-code">
				<p><input type="text" placeholder="Введите код"></p>
				<p><input type="submit" value="Активировать код"></p>
				<p><a class="red" href="#/auth/registration">Регистрация</a></p>
			</form>
		</article>
	</div>


	<div id="fillregistration" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Активация кодов недоступна.<br>Вам необходимо заполнить все поля анкеты и нажать кнопку &laquo;Сохранить&raquo;.</h2>
			<p><a href="#">Заполнить анкету</a></p>
			<p>&nbsp;</p>
		</article>
	</div>

	<div id="order-gift" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Заказ фото-рамки</h2>
			<p>После нажатия кнопки «Заказать» у вас будет списано <strong class="green">800 баллов</strong>, заказ будет отправлен на почтовый адрес, указанный в личном кабинете.</p>
			<p>&nbsp;</p>
			<p class="action">
				<a href="#" class="button green">Заказать</a> &nbsp; <em>или</em> &nbsp;
				<a href="#">Продолжить выбирать</a>
			</p>
			<p>&nbsp;</p>
		</article>
	</div>

	<div id="order-problem" class="modal">
		<article>
			<a data-close-modal></a>
			<p>&nbsp;</p>
			<h2>Невозможно совершить заказ</h2>
			<p>Вы заказали подарков на общую сумму свыше <strong class="green">4000 рублей.</strong> Вам на почту отправлено письмо с инструкцией что необходимо сделать, чтобы завершить текущий заказ. Возможность заказа подарков временно приостановлена.</p>
			<p>&nbsp;</p>
		</article>
	</div>

</body>
</html>