<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	
	<h1>Восстановление пароля</h1>

	<p>&nbsp;</p>

	<nav>
		<a href="#/auth/restore-by-email" class="button-look"><span class="border">По электронной почте</span></a>
		&emsp;
		<a href="#/auth/restore-by-phone" class="active button-look">По номеру телефона</a>
	</nav>

	<p>&nbsp;</p>

	<form>
		<fieldset>
			<p>
				<label class="column1">Телефон</label>
				<input type="text" class="column2">
				<span class="error">Поле не заполнено</span>
			</p>
			<p>
				<label class="column1 required" style="white-space: nowrap;">Введите код с картинки</label> 
				<span class="captcha column2">
					<input type="text" class="tiny">
					<img src="images/captcha.png">
					<a href="#" class="reload"><span class="icon-reload"></span></a>
				</span>
			</p>
		</fieldset>

		<p>&nbsp;</p>

		<p><input type="submit" class="button next" value="Далее"></p>

	</form>
</div>