<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<form>
		<h1>Регистрация</h1>

		<fieldset>
			<h2>Персональные данные</h2>
			<p class="required">Обязательные поля отмечены</p>

			<p>&nbsp;</p>

			<p class="error">
				<label class="column1 required">ФИО</label> 
				<input type="text" placeholder="Фамилия Имя Отчество" class="column2">
				<span class="error">Поле не заполнено</span>
			</p>
			<p>
				<label class="column1 required">Пол</label> 
				<span class="switch column2">
					<input id="user-sex" type="checkbox" checked>
					<span class="button-group">
						<span class="button">Мужской</span>
						<span class="button">Женский</span>
					</span>
				</span>
			</p>
			<script>
				$("#user-sex").on("change", function() {
					if(!this.checked) {
						$("#change-avatar").find(".preview").addClass("male");
					} else {
						$("#change-avatar").find(".preview").removeClass("male");
					}
				});
			</script>

			<p>
				<label class="column1 required">Дата рождения</label>
				<span class="button-group column2">
					<select><option>22</option><option>23</option></select>
					<select><option>Сентября</option><option>Октября</option></select>
					<select><option>1979</option><option>1980</option></select>
				</span>
			</p>
			<p class="error">
				<label class="column1 required">Электронная почта</label>
				<input type="text" class="column2">
				<span class="error">
					Такой адрес уже зарегистрирован<br>
					<span class="normal">Если адрес ваш, то мы можем <a href="#">напомнить пароль</a></span>
				</span>
				<!-- <span class="error">Человек с такими же или очень похожими данными уже зарегистрирован на этом сайте. Если это Вы - попробуйте восстановить пароль через e-mail <a class="red" href="mailto:constantinchuprik@gmail.com">constantinchuprik@gmail.com</a> или на телефон +7 (913) 676-76-51. Если это не Вы - пожалуйста, обратитесь в обратную связь.</span> -->
			</p>
			<p>
				<label class="column1 required">Телефон</label>
				<input type="text" class="column2">
			</p>
			<p>
				<label class="column1 required">Пароль</label>
				<input type="password" class="column1">
			</p>
			<p>
				<label class="column1 required">Повторить</label>
				<input type="password" class="column1">
			</p>

			<p>&nbsp;</p>
			
			<div id="change-avatar" class="upload-photo">
				<div class="preview"></div>
				<span class="browse green">
					Изменить <br>фотографию
					<input id="user-avatar" type="file">
				</span>
			</div>			
			<script>
				// Превью аватара предварительное
				$("#user-avatar").on("change", function() { PreviewImage(this, $("#change-avatar .preview").get(0)); });
			</script>

		</fieldset>

		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<fieldset>
			<h2>Данные для доставки подарков</h2>
			<p>&nbsp;</p>
			<p class="error">
				<label class="column1 required">Индекс</label> 
				<input type="text" class="column1">
				<span class="column1"><a href="#">Не помните индекс?</a></span>
				<span class="error">Ошибка некая</span>
			</p>
			<p>
				<label class="column1 required">Регион</label> 
				<select class="column2"><option> </option><option>Центральный</option><option>Сибирский</option></select>
			</p>
			<p>
				<label class="column1 required">Район</label> 
				<select class="column2"><option> </option><option>Московский</option><option>Новосибирский</option></select>
			</p>
			<p>
				<label class="column1 required">Населенный пункт</label> 
				<select class="column2"><option> </option><option>Москва</option><option>Питер</option></select>
			</p>
			<p>
				<label class="column1 required">Улица</label> 
				<span class="button-group column2">
					<input type="text"class="medium">
					<select class="tiny"><option>Проспект</option><option>Улица</option></select>
				</span>
			</p>

			<p>
				<label class="column1 required">Дом</label> 
				<span class="column2">
					<input type="text" class="tiny">
					<label class="required" style="margin: 0 0.5rem; width: 70px; text-align: right">Корпус</label> <input type="text" class="tiny">
				</span>
			</p>
			<p>
				<label class="column1 required">Квартира</label> 
				<span class="column2">
					<input type="text" class="tiny">
				</span>
			</p>
			<p>
				<label class="column1 required">Доп. информация</label> 
				<input type="text" class="column2">
			</p>

			<p>
				<label class="column1 required">Введите число</label> 
				<span class="captcha column2">
					<input type="text" class="tiny">
					<img src="images/captcha.png">
					<a href="#" class="reload"><span class="icon-reload"></span></a>
				</span>
			</p>
		</fieldset>

		<p>&nbsp;</p>

		<p>
			<label>
				<input type="checkbox"><span class="checkbox"></span> 
				Я согласен с <a href="#">правилами программы лояльности</a>
			</label>
		</p>

		<p>&nbsp;</p>
		
		
		<p><input type="submit" class="button next" value="Далее"></p>
	</form>
</div>