<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<form>
		<h1>Вход</h1>

		<h2>&nbsp;</h2>

		<fieldset>
			<p>
				<label class="column1">Почта или телефон</label>
				<input type="text" class="column2">
				<span class="error">Поле не заполнено</span>
			</p>
			<p>
				<label class="column1">Пароль</label>
				<input type="password" class="column2">
				<span class="error">Поле не заполнено</span>
			</p>
			<p class="column3" style="text-align: right;">
				<a href="#">Напомнить пароль</a> &emsp;
			</p>
		</fieldset>

		<p>&nbsp;</p>

		<p><input type="submit" class="button next" value="Далее"></p>

	</form>
</div>