<div class="row">
	<div id="site-sub-menu" class="column5 left1">
		<a href="#" ui-sref="auth.registration" ui-sref-active="active">Регистрация</a>
		<a href="#" ui-sref="auth.login" ui-sref-active="active">Вход</a>
	</div>
</div>

<div id="site-content" ui-view="content" class="row"></div>

