<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Пригласи друга</h1>
	<h2>100 баллов в подарок вам — 100 баллов в подарок другу</h2>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="share-instruction">
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-1.png">
			</div>
			<h3>Приглашаете друга</h3>
			<p>Вы отправляете по почте или через одну из социальных сетей уникальную ссылку для приглашения друзей.</p>
		</div>
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-2.png">
			</div>
			<h3>Друг активирует код</h3>
			<p>Используя уникальную ссылку, ваш друг регистрируется на сайте клуба и активирует первый код с пачки чая.</p>
		</div>
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-3.png">
			</div>
			<h3>Вы получаете баллы</h3>
			<p>За первый код, введенный вашим другом, вы получаете 100 баллов. 100 баллов также получает ваш друг после регистрации в Клубе.</p>
		</div>
	</div>
	<p>&nbsp;</p>
	<p><a href="#">Полные правила программы</a> <span class="pdf">.pdf</span> <small>0,5 МБ</small></p>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="sharing">
		<div class="sharing-social">
			<div class="sharing-social-column">
				<h3>Пригласить через социальную сеть</h3>
				<ul class="social-links">
					<li><a class="social-links-twitter" href="" title="Поделиться через твиттер">Твиттер</a></li>
					<li><a class="social-links-facebook" href="" title="Поделиться через фейсбук">Фейсбук</a></li>
					<li><a class="social-links-google" href="" title="Поделиться через гугл">Гугл плюс</a></li>
					<li><a class="social-links-vk" href="" title="Поделиться через вконтакте">Вконтакте</a></li>
					<li><a class="social-links-ok" href="" title="Поделиться через одноклассники">Одноклассники</a></li>
					<li><a class="social-links-mailru" href="" title="Поделиться через майлру">Майлру</a></li>
				</ul>
			</div>

			<div class="sharing-social-column">
				<h3>Ваша ссылка для приглашения друга</h3>
				<textarea>https://magneticexchange.com/?p=219</textarea>
			</div>
		</div>

		<div class="sharing-email">
			<form class="form share-email-form" method="post" action="/share">
				<h3>Отправить приглашение через электронную почту</h3>
				<div class="form-row">
					<label for="share-message">Личное сообщение</label>
					<div class="control">
						<textarea id="share-message" class="limit" data-limit="200" data-label="share-message-count" name="Share[message]"></textarea>
						<span class="error">Поле не заполнено</span>
						<p id="share-message-count"></p>

					</div>
				</div>
				<div class="form-row">
					<label for="share-friend-email">Почта друга</label>
					<div class="control">
						<input type="text" id="share-friend-email" name="Share[friend-email]">
						<span class="error">Поле не заполнено</span>
					</div>
				</div>
				<div class="form-row">
					<label for="share-friend-name">Имя друга</label>
					<div class="control">
						<input type="text" id="share-friend-name" name="Share[friend-name]">
						<span class="error">Поле не заполнено</span>
					</div>
				</div>
				<div class="form-row row--submit">
					<button type="submit" class="button green share-email-form-submit" data-show="preloader">Отправить</button>
					<span class="share-email-form-success">Сообщение отправлено</span>
				</div>
			</form>
		</div>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h3 class="score-table-title">Приглашенные друзья</h3>
	<p>&nbsp;</p>
	<table class="score-table">
		<tr>
			<th>Имя</th>
			<th>Почта</th>
			<th>Принял приглашение</th>
			<th>Начислено вам баллов</th>
		</tr>
		<tr>
			<td>Женя</td>
			<td>jenya@gmail.com</td>
			<td>да</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Женя</td>
			<td>jenya@gmail.com</td>
			<td>да</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Женя</td>
			<td>jenya@gmail.com</td>
			<td>да</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Женя</td>
			<td>jenya@gmail.com</td>
			<td>да</td>
			<td>100</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>

<script type="text/javascript">
	$(".limit").limiter();
</script>