<div class="column5 left1">
	<h1>Новая история</h1>

	<!-- Предупреждение про броузер -->
	<p class="browser-warning" style="display: none; padding: 10px; background-color: #a0281c; color: white; border-radius: 5px; margin: 1rem 0;">Версия вашего браузера <span class="browser-name"></span> устарела. Для корректной работы необходимо обновление.</p>
	<script>
	(function() {
		function warn(name) {
			$(".browser-warning").css("display", "block");
			$(".browser-warning").find(".browser-name").html(name);
		}
		var browser = navigator.userAgent;
		if(browser.match(/MSIE 9/) || browser.match(/MSIE 8/) || browser.match(/MSIE 7/)) {
			// ie < 9
			warn("Internet Explorer")
		} else if(browser.match(/Opera/)) {
			// opera 12
			warn("Opera");
		}
	}());
	</script>

	<p>&nbsp;</p>
	<div id="change-illustrations" class="illustrations">
		<div id="change-big-illustration" class="upload-photo big column2">
			<!-- <div class="preview" style="background-image: url(images/empty-photo.png);"></div>
			<div class="browse">
				<input type="file">
			</div> -->
			<div class="info">310 на 360 пикселей</div>
		</div>
		<div class="upload-photo top column1">
			<!-- <div class="preview" style="background-image: url(images/empty-photo.png);"></div> -->
			<div class="browse">
				<input type="file">
			</div>
			<div class="info">140 на 140 пикселей</div>
		</div>
		<div class="upload-photo bottom column1">
			<!-- <div class="preview" style="background-image: url(images/empty-photo.png);"></div> -->
			<div class="browse">
				<input type="file">
			</div>
		</div>
	</div>

	<div class="photo-error" style="text-align: left; color: red; font-size: 110%; margin-bottom: 2rem;">Необходимо добавить фотографию.</div>

	<script>
		// Превью предварительное
		// $("#change-illustrations input[type='file']").on("change", function() { PreviewImage(this, $(this).parents(".upload-photo").find(".preview").get(0)); });

		var croppic1 = new Croppic("change-big-illustration", {
			uploadUrl:'/lib/croppic/img_save_to_file.php',
			cropUrl:'/lib/croppic/img_crop_to_file.php',
			loadPicture:'images/empty-photo.png'
		});
	</script>
	<p>&nbsp;</p>

	<form>
		<p>
			<label class="column1">Заголовок</label>
			<input type="text" class="column3">
		</p>
		<p>
			<label class="column1">Текст истории<br><span class="note">Осталось символов <span id="symbols-left">115</span></span></label>
			<textarea class="column3" rows="25"></textarea>
		</p>
		<p>
			<label class="column1">&nbsp;</label>
			<input class="button green" type="submit" value="Сохранить черновик">
			&ensp;
			<input class="button red" type="button" value="Отправить на конкурс">
		</p>
	</form>
</div>