<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Пригласи друга</h1>
	<h2>100 баллов в подарок вам — 100 баллов в подарок другу</h2>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="share-instruction">
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-1.png">
			</div>
			<h3>Приглашаете друга</h3>
			<p>Вы отправляете по почте или через одну из социальных сетей уникальную ссылку для приглашения друзей.</p>
		</div>
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-2.png">
			</div>
			<h3>Друг активирует код</h3>
			<p>Используя уникальную ссылку, ваш друг регистрируется на сайте клуба и активирует первый код с пачки чая.</p>
		</div>
		<div class="share-instruction-step">
			<div class="step-icon">
				<img src="images/share-step-3.png">
			</div>
			<h3>Вы получаете баллы</h3>
			<p>За первый код, введенный вашим другом, вы получаете 100 баллов. 100 баллов также получает ваш друг после регистрации в Клубе.</p>
		</div>
	</div>
	<p>&nbsp;</p>
	<p><a href="#">Полные правила программы</a> <span class="pdf">.pdf</span> <small>0,5 МБ</small></p>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="share-no-authorization">
		<p>
			Чтобы принять участие в&nbsp;программе «Пригласи друга», <br />
			вам необходимо активировать один код с&nbsp;пачки чая Ahmad Tea.
		</p>
		<a class="additional yellow-button ng-scope" data-toggle-modal="#entercode" ng-if="$state.current.name != 'index' &amp;&amp; $state.current.name != 'cabinet.score'">Активировать код</a>
	</div>
</div>