<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Подарки</h1>
	<p>&nbsp;</p>
	<p>Внимательно проверяйте содержимое посылок! Если Вы получили подарок с дефектом, сразу обратитесь к сотруднику Почты РФ для составления акта по форме 51-в. Переговоры о возмещении ущерба ведутся только при наличии акта. Подробности читайте на сайте в разделе <a href="#">«Помощь»</a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>

<div class="column3 left1">

	<div class="tabs">
		<input id="personal-gift-tables-1" type="radio" name="personal-gift-tables" value="1" checked="checked">
		<input id="personal-gift-tables-2"  type="radio" name="personal-gift-tables" value="2">		

		<nav class="tabs-menu">
			<label data-tab-link="1" for="personal-gift-tables-1" class="button" data-quantity="2">Корзина</label>
			<label data-tab-link="2" for="personal-gift-tables-2" class="button">Оформленные</label>
		</nav>

		<p>&nbsp;</p>

		<div class="tab" data-tab="1">
			<table class="basket">
				<tr>
					<th width="75%">Подарок</th>
					<th>Стоимость</th>
				</tr>
				<tr>
					<td>
						<div class="media column2">
							<a href="#" class="media-basket-image small"><img src="images/catalog1.png"></a>
							<p><strong>Фото-рамка</strong><br>Китайский фарфор идеально подходит для заваривания чая. </p>
						</div>
					</td>
					<td>800 баллов</td>
				</tr>
				<tr>
					<td>
						<div class="media column2">
							<a href="#" class="media-basket-image small"><img src="images/catalog1.png"></a>
							<p><strong>Фото-рамка</strong><br>Китайский фарфор идеально подходит для заваривания чая. </p>
						</div>
					</td>
					<td>450 баллов</td>
				</tr>
			</table>

			<p>&nbsp;</p>
			<p><a href="#" class="huge green button">Оформить</a></p>
		</div>

		<div class="tab" data-tab="2">
			<table class="basket">
				<tr>
					<th width="75%">Подарок</th>
					<th>Статус</th>
				</tr>
				<tr>
					<td>
						<div class="media column2">
							<a href="#" class="media-basket-image small"><img src="images/catalog1.png"></a>
							<p><strong>Фото-рамка</strong><br>Китайский фарфор идеально подходит для заваривания чая. </p>
						</div>
					</td>
					<td>Отправлен<br><a href="#">644041120315</a></td>
				</tr>
				<tr>
					<td>
						<div class="media column2">
							<a href="#" class="media-basket-image small"><img src="images/catalog1.png"></a>
							<p><strong>Фото-рамка</strong><br>Китайский фарфор идеально подходит для заваривания чая. </p>
						</div>
					</td>
					<td>Не отправлен</td>
				</tr>
			</table>
		</div>
			
	</div>
</div>

<div class="column1">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h5>Получатель</h5>
	<p>Гладенко Роман Александрович</p>
	<p>&nbsp;</p>
	<h5>Адрес</h5>
	<p>г. Омск 644041, ул. Берко Цемента, дом 14, кв. 66</p>
	<p>&nbsp;</p>
	<p><a href="#">Редактировать</a></p>
</div>