<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Мои истории</h1>
	<p>&nbsp;</p>

	<table class="stories">
		<tr>
			<th width="17%">Дата</th>
			<th width="63%">Текст</th>
			<th>Статус</th>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>
	 			<p class="title"><strong><a href="#">Незабываемая история любви</a></strong></p>
	 			<p>Остросюжетное повествование изобилует цитатами классиков, философов, современных писателей. Грань между сном и явью довольно зыбкая. Мильштейн то отсылает нас к кинематографу начала века (Дзига Вертов)...</p>
			</td>
			<td>
				<p><span class="red">Отклонена</span></p>
				<p><a href="#">Редактировать</a></p>
			</td>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>
	 			<p class="title"><strong><a href="#">Незабываемая история любви</a></strong></p>
	 			<p>Остросюжетное повествование изобилует цитатами классиков, философов, современных писателей.</p>
	 			<p class="images-preview">
	 				<img src="images/story-preview1.png">
	 				<img src="images/story-preview2.png">
	 				<img src="images/story-preview3.png">
	 			</p>
			</td>
			<td>
				<p><span class="green">Опубликована</span></p>
			</td>
		</tr>
	</table>

	<div class="pager button-group">
		<a href="#" class="button active">1</a>
		<a href="#" class="button">2</a>
		<a href="#" class="button">3</a>
		<a href="#" class="button">4</a>
		<a href="#" class="button">5</a>
		<a href="#" class="button">Следующая <span class="icon-arrow-right"></span></a>
	</div>
</div>

