<div class="row">
	<div id="site-sub-menu" class="column4 left1">
		<a href="#" ui-sref="cabinet.score" ui-sref-active="active">Баллы</a>
		<a href="#" ui-sref="cabinet.gifts" ui-sref-active="active">Подарки</a>
		<a href="#" ui-sref="cabinet.works" ui-sref-active="active">Работы</a>
		<a href="#" ui-sref="cabinet.works" ui-sref-active="active">Добавить работу</a>
		<a href="#" ui-sref="cabinet.newwork" ui-sref-active="active">Пригласить друга</a>
		<a href="#" ui-sref="cabinet.edit" ui-sref-active="active">Редактировать данные</a>
	</div>
</div>

<div id="site-content" ui-view="content" class="row"></div>