<div class="column3 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Баллы</h1>

	<p>&nbsp;</p>

	<ul class="score-info">
		<li>Всего набрано <strong>1450</strong></li>
		<li>Всего потрачено <strong>820</strong></li>
		<li>Баланс <strong>630</strong></li>
	</ul>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<table class="score-table">
		<tr>
			<th width="25%">Дата</th>
			<th width="45%">Событие</th>
			<th>Изменение баланса</th>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>Введен код LX00673GH </td>
			<td>100</td>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>Введен код LX00673GH </td>
			<td>100</td>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>Введен код LX00673GH </td>
			<td>100</td>
		</tr>
		<tr>
			<td>25 дек 2014</td>
			<td>Введен код LX00673GH </td>
			<td>100</td>
		</tr>
	</table>

	<div class="pager button-group">
		<a href="#" class="button active">1</a>
		<a href="#" class="button">2</a>
		<a href="#" class="button">3</a>
		<a href="#" class="button">4</a>
		<a href="#" class="button">5</a>
		<a href="#" class="button">Следующая <span class="icon-arrow-right"></span></a>
	</div>
</div>

<div class="column2">
	<form class="enter-code" style="float: right;">
		<img src="images/code-back.png">
		<p><input type="text"></p>
		<p><input type="submit" value="Активировать код"></p>
		<p><a class="red" href="#/auth/registration">Регистрация</a></p>
	</form>
</div>