<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<form>
	
		<h1>Редактировать данные</h1>

		<fieldset>
			<h2>Персональные данные</h2>
			<p>&nbsp;</p>

			<p>
				<label class="column1">ФИО</label> 
				<input type="text" placeholder="Фамилия Имя Отчество" class="column2">
			</p>
			<p>
				<label class="column1">Пол</label> 
				<span class="switch column2">
					<input id="user-sex" type="checkbox" checked>
					<span class="button-group">
						<span class="button">Мужской</span>
						<span class="button">Женский</span>
					</span>
				</span>
			</p>
			<script>
				$("#user-sex").on("change", function() {
					if(!this.checked) {
						$("#change-avatar").find(".preview").addClass("male");
					} else {
						$("#change-avatar").find(".preview").removeClass("male");
					}
				});
			</script>
			<p>
				<label class="column1">Дата рождения</label>
				<span class="button-group column2">
					<select><option>22</option><option>23</option></select>
					<select><option>Сентября</option><option>Октября</option></select>
					<select><option>1979</option><option>1980</option></select>
				</span>
			</p>
			<p class="error">
				<label class="column1">Электронная почта</label>
				<input type="text" class="column2">
				<span class="error column2">Неправильная почта</span>
			</p>
			<p>
				<label class="column1">Электронная почта</label>
				<input type="text" class="column2">
				<span class="info column2">
					<span class="special1">
						Ожидает подтверждения
						<br>
						<span class="icon-reload green"></span>
						<a href="#" style="font-size: 0.625rem;"><span class="border">Повторно отправить письмо для подтверждения адреса</span></a>
					</span>
				</span>
			</p>
			<p>
				<label class="column1">Телефон</label>
				<input type="text" class="column2">
			</p>
			<p>
				<label class="column1">Пароль</label>
				<input type="password" class="column1">
			</p>
			<p>
				<label class="column1">Повторить</label>
				<input type="password" class="column1">
			</p>

			<p>&nbsp;</p>
			
			<div id="change-avatar" class="upload-photo">
				<div class="preview"></div>
				<span class="browse green">
					Изменить <br>фотографию
					<input id="user-avatar" type="file">
				</span>
			</div>			
			<script>
				// Превью аватара предварительное
				$("#user-avatar").on("change", function() { PreviewImage(this, $("#change-avatar .preview").get(0)); });
			</script>

		</fieldset>

		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<fieldset>
			<h2>Данные для доставки подарков</h2>
			<p>&nbsp;</p>
			<p>
				<label class="column1">Индекс</label> 
				<input type="text" class="column1">
			</p>
			<p>
				<label class="column1">Регион</label> 
				<select class="column2"><option> </option><option>Центральный</option><option>Сибирский</option></select>
			</p>
			<p>
				<label class="column1">Район</label> 
				<select class="column2"><option> </option><option>Московский</option><option>Новосибирский</option></select>
			</p>
			<p>
				<label class="column1">Населенный пункт</label> 
				<select class="column2"><option> </option><option>Москва</option><option>Питер</option></select>
			</p>
			<p>
				<label class="column1">Улица</label> 
				<span class="button-group column2">
					<input type="text"class="medium">
					<select class="tiny"><option>Проспект</option><option>Улица</option></select>
				</span>
			</p>

			<p>
				<label class="column1">Дом</label> 
				<span class="column2">
					<input type="text" class="tiny">
					<label style="margin: 0 0.5rem; width: 70px; text-align: right">Корпус</label> <input type="text" class="tiny">
				</span>
			</p>
			<p>
				<label class="column1">Квартира</label> 
				<span class="column2">
					<input type="text" class="tiny">
				</span>
			</p>
			<p>
				<label class="column1">Доп. информация</label> 
				<input type="text" class="column2">
			</p>

		</fieldset>

		<p>&nbsp;</p>
		
		<p><input type="submit" class="button big green" value="Сохранить"></p>

	</form>
</div>