<div id="site-content" class="row">
	<div class="column5 left1">
		<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>

		<h1>Подарки</h1>
		
		<p>&nbsp;</p>

		<p class="introduction">В связи с производством дополнительной партии подарков по многочисленным просьбам участников клуба, сроки доставки на отдельные подарки (Обложка для паспорта, Плед, Сумка, Пляжное полотенце), заказанные с 4го сентября, будут увеличены и могут составить до 5 месяцев. Отправка Чайников и Чайных пар будет проводиться в стандартном режиме.</p>
		
		<p>&nbsp;</p>

		<ul class="catalog">
			<li class="column2">
				<div class="image"><img src="images/catalog1.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Фото-рамка</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog2.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Часы</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog3.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Обложка на паспорт</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog4.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Поднос</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog5.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Подставка</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog6.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Зонтик</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog7.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Пляжное полотенце</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>

			<li class="column2">
				<div class="image"><img src="images/catalog8.png"></div>
				<div class="score"><strong>800</strong> баллов</div>
				<h3>Сумка</h3>
				<p class="text">Китайский фарфор идеально подходит для заваривания чая.</p>
				<div class="info">
					<span class="news">Новое поступление 1 марта 2015</span><br>
					<span class="presence">Осталось 200 штук</span>
				</div>

				<div class="order">
					<a class="button green huge">Заказать</a>
				</div>
			</li>
		</ul>
	</div>
</div>