<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Творческие работы</h1>
	<nav>
		<span>Третья тема</span>
		<a href="#">Вторая тема</a>
		<a href="#">Первая тема</a>
	</nav>
	<h2>&laquo;Ужин при свечах&raquo;</h2>
	<p><strong>Работы по теме «Ужин при свечах» принимаются до 31 марта 2015</strong></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="filter">
		<a class="button">Рейтинг <span class="asc active">&uarr;</span><span class="dsc">&darr;</span></a>
		<a class="button">Комментарии <span class="asc">&uarr;</span><span class="dsc active">&darr;</span></a>
		<a class="button">Дата <span class="asc active">&uarr;</span><span class="dsc">&darr;</span></a>

		<span class="search">
			<input type="text" placeholder="Введите ФИО" class="column2">
			<input type="submit" value="Найти" class="button green">
		</span>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>


<div class="column4 left1">

	<ul class="works">
		<li class="column2">
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/rectangle-empty-avatar.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#/contest/work/nezabyvaemy">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<a href="#/contest/work/nezabyvaemy" class="no-style"><span class="icon-comment"></span> <span class="comments">20</span></a>
			</p>
		</li>
		<li class="column2">
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/avatar2.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#/contest/work/nezabyvaemy">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart active"></span> <span class="likes">221</span>
				&emsp;
				<a href="#/contest/work/nezabyvaemy" class="no-style"><span class="icon-comment"></span> <span class="comments">20</span></a>
			</p>
		</li>
		<li class="column2">
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/rectangle-empty-avatar-male.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#/contest/work/nezabyvaemy">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<a href="#/contest/work/nezabyvaemy" class="no-style"><span class="icon-comment"></span> <span class="comments">20</span></a>
			</p>
		</li>
		<li class="column2">
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/avatar2.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#/contest/work/nezabyvaemy">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<a href="#/contest/work/nezabyvaemy" class="no-style"><span class="icon-comment"></span> <span class="comments">20</span></a>
			</p>
		</li>
		<li class="column2">
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/avatar2.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#/contest/work/nezabyvaemy">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<a href="#/contest/work/nezabyvaemy" class="no-style"><span class="icon-comment"></span> <span class="comments">20</span></a>
			</p>
		</li>
	</ul>

	<p>&nbsp;</p>

	<div class="pager button-group">
		<a href="#" class="button prev-page"><span class="icon-arrow-left"></span> Предыдущая</a>
		<a href="#" class="button active">1</a>
		<a href="#" class="button">2</a>
		<a href="#" class="button">3</a>
		<a href="#" class="button">4</a>
		<a href="#" class="button">5</a>
		<a href="#" class="button next-page">Следующая <span class="icon-arrow-right"></span></a>
	</div>
</div>


<div class="column1" style="text-align: center; display: none;">
	<a class="media-round-item" href="#">
		<div class="icon-leaf"></div>
		<div>Добавить историю</div>
	</a>
	<p>&nbsp;</p>
	<p style="font-family: Mirta, serif; font-size: 0.65rem;"><span class="red">Сроки проведения</span> <br>с 1 февраля 2015 <br>по 31 марта 2015.</p>
</div>