<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Незабываемый черноморский роман</h1>
	<p class="green">
		<span class="icon-heart"></span> <span class="likes">221</span>
		&emsp;
		<span class="icon-comment"></span> <span class="comments">20</span>
	</p>
	<p>&nbsp;</p>
	<div class="illustrations">
		<div class="big column2"><img src="images/story-photo.png"></div>
		<div class="top column1"><img src="images/story-photo.png"></div>
		<div class="bottom column1"><img src="images/story-photo.png"></div>
	</div>
	<p>&nbsp;</p>
	<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала.</p>
	<p>&nbsp;</p>
	<p>Он подарил мне бессчетное количество.февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количествофевраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количествофевраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила.</p>
	<p>&nbsp;</p>
	<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="media">
		<div class="media column2">
			<img class="media-round-image small avatar" src="images/avatar2.png">
			<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
		</div>
		<a class="media column2" href="#">
			<span class="heart-item active">5489</span>
			<p>Голосовать за историю</p>
		</a>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<form class="leave-comment">
		<h2>Комментарии</h2>
		<p>
			<label class="column1">Написать комментарий</label>
			<textarea class="column3" rows="5"></textarea>
		</p>
		<p>
			<label class="column1">Введите число</label>
			<span class="captcha column2">
				<input type="text" class="tiny">
				<img src="images/captcha.png">
				<a href="#" class="reload"><span class="icon-reload"></span></a>
			</span>
		</p>
		<p>
			<label class="column1"></label>
			<input type="submit" class="button huge green column1" value="Отправить">
		</p>
	</form>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<ul class="comments">
		<li>
			<div class="avatar" style="background-image: url(images/avatar2.png);"></div>
			<div class="title">
				<strong class="author">Cветлана Иванова</strong><span class="date">20 апреля 2011</span>
			</div>
			<div class="text">Я в восторге! Это потрясающе! Просто слезы наворачивались, когда читала! А в конце почувствовала такое облегчение, когла узнала, что все хорошо кончилось, что аж покурить захотелось! Спасибо вам!</div>
		</li>
		<li>
			<div class="avatar" style="background-image: url(images/avatar2.png);"></div>
			<div class="title">
				<strong class="author">Cветлана Иванова</strong><span class="date">20 апреля 2011</span>
			</div>
			<div class="text">Я в восторге! Это потрясающе! Просто слезы наворачивались, когда читала! А в конце почувствовала такое облегчение, когла узнала, что все хорошо кончилось, что аж покурить захотелось! Спасибо вам!</div>
		</li>
		<li>
			<div class="avatar" style="background-image: url(images/avatar2.png);"></div>
			<div class="title">
				<strong class="author">Cветлана Иванова</strong><span class="date">20 апреля 2011</span>
			</div>
			<div class="text">Я в восторге! Это потрясающе! Просто слезы наворачивались, когда читала! А в конце почувствовала такое облегчение, когла узнала, что все хорошо кончилось, что аж покурить захотелось! Спасибо вам!</div>
		</li>
	</ul>
</div>