<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Победители</h1>

	<h2>Главный приз</h2>
	<p>&nbsp;</p>
	<div class="winner">
		<div class="position"><img src="images/contest-first-position.png"></div>
		<div class="info">
			<p class="official">По выбору независимого жюри, победителем и обладателем главного приза Творческого Конкурса стала Демидова Дарья с рассказом «Мое «маленькое» путешествие».</p>
			<p>&nbsp;</p>
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/avatar2.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<span class="icon-comment"></span> <span class="comments">20</span>
			</p>
		</div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>Специальный приз</h2>
	<p>&nbsp;</p>
	<div class="winner">
		<div class="position"><img src="images/contest-special-position.png"></div>
		<div class="info">
			<p class="official">А также жюри Ahmad Tea награждает специальным призом за оптимизм Буйницкую Наталью с рассказом «Дорожная история». В подарок Наталье Ahmad Tea отправит подарочное издание книги «Алиса в стране чудес» Л. Кэролла, плед, чайник, 2 чайные пары и годовой запас чая Ahmad Tea.</p>
			<p>&nbsp;</p>
			<div class="media">
				<div class="media column2">
					<img class="media-round-image small avatar" src="images/avatar2.png">
					<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<h4><a href="#">Мой незабываемый черноморский роман</a></h4>
			<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
			<p>&nbsp;</p>
			<p class="green">
				<span class="icon-heart"></span> <span class="likes">221</span>
				&emsp;
				<span class="icon-comment"></span> <span class="comments">20</span>
			</p>
		</div>
	</div>


	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>Поощрительные призы</h2>
	<p>&nbsp;</p>
	<p class="official">В процессе отбора лучшей работы члены Независимого Жюри конкурса выбрали 31 историю, которые отметили лучшими из 1300, высланных на конкурс.</p>
	<p>&nbsp;</p>
	<p class="official">Компания Ahmad Tea приняла решение наградить памятными подарками (грамота номинанта конкурса, подарочное издание книги-альбома «Алиса в стране чудес», тканевая сумка с принтом и последний номер журнала «Вокруг Света») все выбранные Жюри при первом отборе истории. Поздравляем победителей!</p>
	<p>&nbsp;</p>

	<table class="rating">
		<tr>
			<th width="6%">&nbsp;</th>
			<th width="45%">Автор</th>
			<th>Название</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Дышаленкова Екатерина</td>
			<td>Рио</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Балыкова Татьяна Анатольевна</td>
			<td>Дельфиниха Мэри</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Сапарская Елена Леонидовна</td>
			<td>Остров Санторини</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Саранцева Юлия Андреевна</td>
			<td>По следам истории</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Потемкин Андрей Александрович</td>
			<td>Майами</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Дуцинина Марина Викторовна</td>
			<td>Флоренция – колыбель Возрождения</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Числова Наталья Николаевна</td>
			<td>Утренний разговор</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Пугачёва Майя Викторовна</td>
			<td>Прогулка по Петербургу</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Россиева Татьяна</td>
			<td>Сказка на ночь</td>
		</tr>
	</table>




</div>