<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Победители</h1>

	<h2>Главный приз</h2>
	<p>&nbsp;</p>
	<div class="winner">
		<div class="position"><img src="images/contest-first-position.png"></div>
		<div class="info">
			<p class="official">Уважаемые участники! Жюри Творческого конкурса, редакция журнала «Лиза. Приятного аппетита!», определила победителя и обладателя главного приза – Кухни Вашей мечты:</p>
			<p>&nbsp;</p>

			<div class="winner-item">
				<div class="media">
					<div class="media column2">
						<img class="media-round-image small avatar" src="images/avatar2.png">
						<p>Cветлана Свиридова, Москва. <br><span class="date">20 апреля 2011</span></p>
					</div>
				</div>
				<p>&nbsp;</p>

				<h4><a href="#">Рецепт шоколадный капкейков</a></h4>
				<div class="work-info">
					<div class="column2">
						<p>Для 12 капкейков: Мука – 220 г.; Сахар-150г.; Разрыхлитель – 1.5 ч. л.; Соль – 1/3 ч. л.; Ваниль – один пакетик; Сливочное масло – 100 г.; Сметана – 120 г.; Яйцо -1,желтков -2.; Какао -100 г.  Сливочное масло растопить и охладить. Яйцо коротко взбить с сахаром, добавить сметану и разрыхлитель, масло...</p>
					</div>
					<div class="winner-illustrations">
						<div class="image big" style="background-image: url(../images/winner-img-1.png);"></div>
						<div class="image small top" style="background-image: url(../images/winner-img-1.png);"></div>
						<div class="image small bottom" style="background-image: url(../images/winner-img-1.png);"></div>
					</div>
				</div>
				<p>&nbsp;</p>
				<p class="green">
					<span class="icon-heart"></span> <span class="likes">221</span>
					&emsp;
					<span class="icon-comment"></span> <span class="comments">20</span>
				</p>
			</div>

		</div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>Специальный приз</h2>
	<p>&nbsp;</p>
	<div class="winner">
		<div class="position"><img src="images/contest-special-position.png"></div>
		<div class="info">
			<p class="official">Специальными подарками от Ahmad Tea, а также дополнительными баллами (1000 баллов) для выбора подарков из Каталога, награждаются:</p>
			<p>&nbsp;</p>

			<div class="winner-item">
				<div class="media">
					<div class="media column2">
						<img class="media-round-image small avatar" src="images/avatar2.png">
						<p>Ирина Чвирова, Москва. <br><span class="date">20 апреля 2011</span></p>
					</div>
				</div>
				<p>&nbsp;</p>
				<h4><a href="#">Творожные печеньки «Розочки»</a></h4>
				<h6 class="subhead">В подарок – коллекция листового чая Ahmad Tea Fine Tea Collection</h6>
				<div class="work-info">
					<div class="column2">
						<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
					</div>
					<div class="winner-illustrations">
						<div class="image big" style="background-image: url(../images/winner-img-2.png);"></div>
					</div>
				</div>
				<p>&nbsp;</p>
				<p class="green">
					<span class="icon-heart"></span> <span class="likes">221</span>
					&emsp;
					<span class="icon-comment"></span> <span class="comments">20</span>
				</p>
			</div>

			<div class="winner-item">
				<div class="media">
					<div class="media column2">
						<img class="media-round-image small avatar" src="images/avatar2.png">
						<p>Cветлана Машинец, Москва. <br><span class="date">20 апреля 2011</span></p>
					</div>
				</div>
				<p>&nbsp;</p>
				<h4><a href="#">Печеньки детям «С Ahmad Tea»</a></h4>
				<h6 class="subhead">В подарок – десертная коллекция листового чая Ahmad Tea в пирамидках</h6>
				<div class="work-info">
					<div class="column2">
						<p>Для 12 капкейков: Мука – 220 г.; Сахар-150г.; Разрыхлитель – 1.5 ч. л.; Соль – 1/3 ч. л.; Ваниль – один пакетик; Сливочное масло – 100 г.; Сметана – 120 г.; Яйцо -1,желтков -2.; Какао -100 г.  Сливочное масло растопить и охладить. Яйцо коротко взбить с сахаром, добавить сметану и разрыхлитель, масло...</p>
					</div>
					<div class="winner-illustrations">
						<div class="image big" style="background-image: url(../images/winner-img-3.png);"></div>
					</div>
				</div>
				<p>&nbsp;</p>
				<p class="green">
					<span class="icon-heart"></span> <span class="likes">221</span>
					&emsp;
					<span class="icon-comment"></span> <span class="comments">25</span>
				</p>
			</div>

		</div>
	</div>

	<div id="thanks-to-all">
		<p>Дорогие друзья, <br>Благодарим за столь яркие работы <br>и разнообразие чайных настроений!</p>
		<div class="corners"></div>
	</div>

	<!--
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>Поощрительные призы</h2>
	<p>&nbsp;</p>
	<p class="official">В процессе отбора лучшей работы члены Независимого Жюри конкурса выбрали 31 историю, которые отметили лучшими из 1300, высланных на конкурс.</p>
	<p>&nbsp;</p>
	<p class="official">Компания Ahmad Tea приняла решение наградить памятными подарками (грамота номинанта конкурса, подарочное издание книги-альбома «Алиса в стране чудес», тканевая сумка с принтом и последний номер журнала «Вокруг Света») все выбранные Жюри при первом отборе истории. Поздравляем победителей!</p>
	<p>&nbsp;</p>

	<table class="rating">
		<tr>
			<th width="6%">&nbsp;</th>
			<th width="45%">Автор</th>
			<th>Название</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Дышаленкова Екатерина</td>
			<td>Рио</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Балыкова Татьяна Анатольевна</td>
			<td>Дельфиниха Мэри</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Сапарская Елена Леонидовна</td>
			<td>Остров Санторини</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Саранцева Юлия Андреевна</td>
			<td>По следам истории</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Потемкин Андрей Александрович</td>
			<td>Майами</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Дуцинина Марина Викторовна</td>
			<td>Флоренция – колыбель Возрождения</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Числова Наталья Николаевна</td>
			<td>Утренний разговор</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Пугачёва Майя Викторовна</td>
			<td>Прогулка по Петербургу</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Россиева Татьяна</td>
			<td>Сказка на ночь</td>
		</tr>
	</table> -->
</div>