<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Творческий конкурс</h1>
	<h2>Первая тема: &laquo;Ужин при свечах&raquo;</h2>
	<p>&nbsp;</p>
</div>
<div class="column3 left1">
	<p>Все мы заняты повседневными заботами, жизнь бежит и нам так важно все успеть. И именно поэтому мы так умеем ценить мгновения созерцания, спокойствия и гармонии. В падающих снежинках первого снега, в огнях любимого ночного города, в чашечке свежезаваренного чая, в спокойствие морского пейзажа, в дождливом утре на даче и умиротворяющем стуке колес поездов мы по-прежнему ценим мечты и умеем находить радость в каждом мгновении, мы помним как… ощущение внезапного счастья наполняло нас полнотой жизни, ее вселенской мудростью и ее удивительной непредсказуемостью мгновенного чуда.</p>
	<p>&nbsp;</p>
	<p>Расскажите нам историю о самом романтичном ужине при свечах в вашей жизни, воспоминания о котором вы храните как талисман, необыкновенная история из жизни, которая кажется вам чудесным проявлением воли судьбы, случая или божественного провидения.</p>
	<p>&nbsp;</p>
	<p><strong>Не более 1000 символов.</strong></p>
	<p>&nbsp;</p>
	<p><a href="#">Полные правила творческого конкурса</a></p>
</div>

<div class="column1" style="text-align: center;">
	<a class="media-round-item" href="#">
		<div class="icon-leaf"></div>
		<div>Добавить историю</div>
	</a>
	<p>&nbsp;</p>
	<p style="font-family: Mirta, serif; font-size: 0.65rem;"><span class="red">Сроки проведения</span> <br>с 1 февраля 2015 <br>по 31 марта 2015.</p>
</div>