<div class="row">
	<div id="site-sub-menu" class="column5 left1">
		<a href="#" ui-sref="contest.general" ui-sref-active="active">Общая</a>
		<a href="#" ui-sref="contest.works" ui-sref-active="active">Творческие работы</a>
		<a href="#" ui-sref="contest.rating" ui-sref-active="active">Рейтинги работ</a>
		<a href="#" ui-sref="contest.winners" ui-sref-active="active">Победители</a>
		<a href="#" ui-sref="contest.jury" ui-sref-active="active">Жюри</a>
	</div>
</div>
<div id="site-content" ui-view="content" class="row"></div>