<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Жюри конкурса</h1>
	<p>&nbsp;</p>
</div>
<div class="column4 left1">
	<p><img src="images/logo-lisa.png"></p>
	<p>&nbsp;</p>
	<p>Победителя творческого конкурса выберет независимое жюри – редакция журнала «Лиза. Приятного аппетита!» во главе с главным редактором  Александрой Маленко.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
<div class="column1 left1">
	<img class="shadow1" src="images/lisa-journal.png">
</div>
<div class="column3">
	<p>«Лиза. Приятного аппетита!» – один из самых популярных российских кулинарных журналов, ежемесячно предлагающий вниманию читателей несколько десятков оригинальных рецептов как простых, так и весьма изысканных блюд.</p>
	<p>&nbsp;</p>
	<p>На каждой странице журнала – невероятно аппетитные фотографии, которые с первого взгляда покоряют сердца гурманов и побуждают их как можно скорее воплотить в жизнь тот или иной рецепт. Читатели также найдут в издании интересную информацию о событиях в мире кулинарии, полезные советы по приготовлению блюд, заметки о здоровом питании, а также смогут познакомиться с гастрономическими традициями разных стран.</p>
</div>

