<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Рейтинги работ</h1>
	<h2>Сейчас на первом месте</h2>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="media">
		<div class="media column2">
			<img class="media-round-image small avatar" src="images/avatar2.png">
			<p>Cветлана Иванова, Москва. <br><span class="date">20 апреля 2011</span></p>
		</div>
	</div>
	<p>&nbsp;</p>
	<h4><a href="#">Мой незабываемый черноморский роман</a></h4>
	<p>Четырнадцатого февраля он предложил мне с ним встречаться. Именно тогда я поняла, что люблю его. Люблю безумно, как никого никогда не любила. Олег был чутким и внимательным, водил меня в оперу, которую я обожала. Он подарил мне бессчетное количество...</p>
	<p>&nbsp;</p>
	<p class="green">
		<span class="icon-heart"></span> <span class="likes">221</span>
		&emsp;
		<span class="icon-comment"></span> <span class="comments">20</span>
	</p>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="tabs">
		<input id="rating-tables-1" type="radio" name="rating-tables" value="1">
		<input id="rating-tables-2"  type="radio" name="rating-tables" value="2" checked="checked">
		<input id="rating-tables-3"  type="radio" name="rating-tables" value="3">

		<nav class="tabs-menu">
			<h2>Рейтинг</h2>
			<label data-tab-link="1" for="rating-tables-1" class="button">Первая тема</label>
			<label data-tab-link="2" for="rating-tables-2" class="button">Вторая тема</label>
			<label data-tab-link="3" for="rating-tables-3" class="button">Третья тема</label>
		</nav>

		<p>&nbsp;</p>

		<div class="tab" data-tab="1">
			<table class="rating">
				<tr>
					<th width="6%">&nbsp;</th>
					<th width="31%">Название</th>
					<th width="18%">Город</th>
					<th width="15%">Автор</th>
					<th width="13%">Оценки</th>
					<th>Комментарии</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Мой незабываемый роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Мой незабываемый роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Мой незабываемый роман</td>
					<td>Мурманск</td>
					<td>Сергей</td>
					<td>5</td>
					<td>5</td>
				</tr>
			</table>
		</div>
		<div class="tab" data-tab="2">
			<table class="rating">
				<tr>
					<th width="6%">&nbsp;</th>
					<th width="31%">Название</th>
					<th width="18%">Город</th>
					<th width="15%">Автор</th>
					<th width="13%">Оценки</th>
					<th>Комментарии</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Мой роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Мой незабываемый роман</td>
					<td>Москва</td>
					<td>Костя</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Мой незабываемый</td>
					<td>Хабаровск</td>
					<td>Аня</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Мой незабываемый роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
			</table>
		</div>
		<div class="tab" data-tab="3">
			<table class="rating">
				<tr>
					<th width="6%">&nbsp;</th>
					<th width="31%">Название</th>
					<th width="18%">Город</th>
					<th width="15%">Автор</th>
					<th width="13%">Оценки</th>
					<th>Комментарии</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Мой роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Мой незабываемый тихоокеанский</td>
					<td>Хабаровск</td>
					<td>Аня</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Мой незабываемый средиземноморный роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Мой незабываемый черноморский роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Мой незабываемый северомоский роман</td>
					<td>Москва</td>
					<td>Светлана</td>
					<td>5</td>
					<td>5</td>
				</tr>
			</table>
		</div>
	</div>
</div>
