<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Правила проведения и условия участия в программе лояльности &laquo;From Ahmad Tea with love&raquo;</h1>
	
	<!-- <p>&nbsp;</p>

	<div class="media">
		<div class="column2">Если вы не нашли ответ на вопрос, воспользуйтесь функцией <a href="#">задать вопрос</a>.</div>
		<div class="column2">Звоните по телефону горячей линии <br><strong style="font-size: 18px;">8 800 100 80 02</strong></div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<form>
		<input type="text" placeholder="Поиск" class="column3"> 
		<input type="submit" value="Найти" class="button green">
	</form> -->

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>1. Наименование программы</h2>
	<p>Наименование программы лояльности — «From Ahmad Tea with love» (далее по тексту — Программа). Организатором Программы (далее по тексту — Организатор) является эксклюзивный дистрибьютор торговой марки Ahmad Tea в России ООО «СДС-ФУДС» (Адрес местонахождения: Москва, ул. Островная, д. 2, ИНН 7708153222).</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>2. Кто может принять участие</h2>
	<p>В Программе могут принять участие дееспособные совершеннолетние граждане Российской Федерации, проживающие на территории Российской Федерации.</p>
	<p>К участию в Программе не допускаются сотрудники компании-Организатора Программы, компаний, имеющих договоры с компанией-Организатором Программы на хранение, транспортировку, продажу и распространение продукции торговой марки Ahmad Tea, участвующих в Программе, либо компаний, иным образом имеющих отношение к организации, подготовке и проведению Программы, а также члены их семей и лица, принадлежащие вышеуказанным компаниям.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>3. Согласие с правилами</h2>
	<p>Участвуя в Программе «From Ahmad Tea with love», потребитель торговой марки Ahmad Tea подтверждает свое согласие с настоящими Правилами участия в Программе, размещенными на сайте www.club.ahmadtea.ru (далее — сайт) и становится Участником Программы, а также подтверждает, что является гражданином Российской Федерации, достигшим 18 лет.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>4. Сроки проведения</h2>
	<ul>
		<li>Сроки проведения Программы: с 01.02.2015 года по 30.09.2015 года включительно.</li>
		<li>Период регистрации кодов с 01.02.2015 года по 30.07.2015 года включительно.</li>
		<li>Период выдачи подарков победителям до 30.09.2015 года.</li>
	</ul>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>5. Предмет программы</h2>
	<p>В Программе участвует продукция торговой марки Ahmad Tea с символом клуба и кодом, расположенным на внутренней стороне под крышкой пачек (далее — код).</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>6. Условия участия</h2>
	<p>Для участия в Программе Участнику необходимо в течение периода регистрации кодов купить продукцию марки Ahmad Tea с символом Клуба Ahmad Tea «From Ahmad Tea with Love», зарегистрироваться на сайте и активировать коды.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>7. Активация кодов</h2>
	<p>Для того чтобы активировать коды, необходимо пройти регистрацию на сайте, заполнив регистрационную анкету. В анкете, размещенной на сайте, каждый Участник обязан предоставить о себе информацию следующего содержания: сообщить Ф. И. О., почтовый адрес (Участник должен быть гражданином РФ), мобильный телефон, адрес электронной почты, дату рождения (Участник должен быть старше 18 лет). Участники, в анкетах которых не будет указано требуемой информации, к регистрации в Программе не принимаются. Сохранив анкету, Участник подтверждает, что он старше 18 лет, является гражданином Российской Федерации и согласен с полными правилами участия в данной Программе, а также подтверждает свое согласие на получение в дальнейшем информации, предложений и образцов продукции от торговой марки Ahmad Tea.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>8. Регистрация на сайте</h2>
	<p>В случае, если Участник уже зарегистрирован на сайте и имеет индивидуальный логин и пароль для доступа на сайт, необходимости в повторной регистрации нет. Участнику необходимо ввести имеющийся логин и пароль и регистрировать уникальные коды в соответствии с п. 9 настоящих Правил.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>9. Регистрация на сайте</h2>
	<p>Подробности регистрации кодов:</p>
	<ul>
		<li>Зарегистрировать коды для участия в Программе можно на сайте.</li>
		<li>Участник может регистрировать коды на сайте под одним и тем же индивидуальным логином и паролем неограниченное количество раз в течение периода регистрации кодов.</li>
		<li>Каждому Участнику при регистрации в базе данных присваивается учетная запись (не более одной для одного Участника).</li>
		<li>Коды, зарегистрированные позднее окончания периода регистрации, а также присланные или зарегистрированные с нарушением условий и настоящих Правил проведения Программы, к участию в Программе не допускаются.</li>
		<li>Зарегистрированные Участниками Программы коды проверяются на подлинность Организатором в соответствии с существующей базой сгенерированных кодов, расположенных под крышкой пачек продукции торговой марки Ahmad Tea. </li>
		<li>К участию в Программе не допускаются коды, регистрируемые повторно, некорректно введенные/написанные, а также коды, которые не могут быть идентифицированы оператором (не соответствуют списку кодов Организатора). </li>
		<li>К участию в Программе не допускаются коды, относящиеся к первой и второй волне Программы «Клуб Ahmad Tea «Из Лондона с любовью», проводившейся в период с 01.06.2011 года по 31.01.2012 года включительно и Программы «Клуб Ahmad Tea «From Ahmad Tea with love», проводившейся в период с 01.04.2012 года по 31.12.2012 года включительно.</li>
	</ul>
	<p class="official"><em>Баллы, накопленные, но не сконвертированные в подарки до 31.12.2012г., больше не могут быть использованы в рамках следующей волны Клуба Ahmad Tea «From Ahmad Tea with love», проходящей на сайте <a href="http://www.club.ahmadtea.ru">www.club.ahmadtea.ru</a>.</em></p>
	<p>&nbsp;</p>

	<table>
		<tr>
			<th>Чай</th>
			<th width="10%">Баллы</th>
		</tr>
		<tr>
			<td>25 пакетиков Английский завтрак / English Breakfast</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Эрл Грей / Earl Grey</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Эрл Грей / Earl Grey в конвертах из фольги </td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Английский чай No.1 / English Tea No.1</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Цейлонский чай / Ceylon Tea</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Зеленый чай / Green Tea</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25 пакетиков Зеленый чай с жасмином / Jasmine Green Tea</td>
			<td>25</td>
		</tr>
		<tr>
			<td>Английский завтрак / English Breakfast (90г)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Цейлонский чай Оранж Пеко / Ceylon Tea Orange Pekoe (90г)</td>
			<td>50</td>
		</tr>
		<tr>
			<td> Английский чай No.1 / English Tea No.1 (90г)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Эрл Грей / Earl Grey (90г)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Английская традиция / English Tradition (90г)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>100 пакетиков Английский завтрак / English Breakfast</td>
			<td>100</td>
		</tr>
		<tr>
			<td>100 пакетиков Эрл Грей / Earl Grey</td>
			<td>100</td>
		</tr>
		<tr>
			<td>100 пакетиков Английский чай No.1 / English Tea No.1</td>
			<td>100</td>
		</tr>
		<tr>
			<td>100 пакетиков Цейлонский чай / Ceylon Tea</td>
			<td>100</td>
		</tr>
		<tr>
			<td>100 пакетиков Зеленый чай / Green Tea</td>
			<td>100</td>
		</tr>
		<tr>
			<td>100 пакетиков Зеленый чай с жасмином / Jasmine Green Tea</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Английский завтрак / English Breakfast (200г)</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Эрл Грей / Earl Grey (200г)</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Цейлонский чай Оранж Пеко / Ceylon Tea Orange Pekoe (200г)</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Цейлонский чай FBOPF Высокогорный/ Сeylon Tea FBOPF High Mountain (200г)</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Английский чай No.1 / English Tea No.1 (200г)</td>
			<td>100</td>
		</tr>
	</table>

	<p>&nbsp;</p>

	<ul>
		<li>Организатор вправе допускать к участию в Программе коды, расположенные внутри пачек чая вне указанного в п. 9 списка, без дополнительного анонсирования на пачке этой информации. Количество кодов от пачек чая вне указанного в п. 9 списка, как на одного участника, так и суммарно по всем участникам, допускаемых Организатором к участию в Программе, определяется на усмотрение Организатора. Ограниченная партия листового чая в пирамидках «Манговое Суфле» и «Облепиховые Леденцы» имеет данные коды внутри пачек. Каждый Участник может зарегистрировать не более двух кодов с пачек каждого наименования из данной ограниченной партии.</li>
		<li>Общее количество кодов, которые Участник может зарегистрировать в течение периода регистрации кодов, ограниченно и составляет не более 200 (двухсот) кодов.</li>
		<li>Участник обязан сохранить носители кодов, расположенных внутри упаковок Продукта торговой марки Ahmad Tea из перечня, указанного в п. 8 настоящих Правил, с символом клуба на пачке (часть внутренней стороны упаковки Продукта торговой марки Ahmad Tea с изображением кода, участвующего в Программе, либо фотографическое изображение носителя кода) до окончания срока проведения Программы.</li>
	</ul>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>10. Основные условия Программы.</h2>
	<p>В течение проведения Программы проходят активности<span class="red">*</span>:</p>
	<ol>
		<li>Выбор и заказ подарков из «Каталога подарков»;</li>
		<li>Участие в «Творческом конкурсе».</li>
	</ol>
	<p>Каждый зарегистрированный Участником код может быть использован для участия в активностях. Баллы, накопленные в рамках Программы, отображаются в Личном кабинете (персональный раздел) Участника на сайте. Подробное описание каждой активности Программы можно найти в п. 10 настоящих Правил.</p>
	<p><span class="red">*</span> Активности — акции и мероприятия различного вида, проходящие в рамках Программы в соответствии с настоящими Правилами.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>11. Выбор и заказ подарков из «Каталога подарков».</h2>
	<p>Период работы активности с 0:00 01.02.2015 года по 23:59 30.07.2015 года включительно по московскому времени.</p>
	<p>Во время проведения Программы каждый Участник, набрав необходимое для этого количество баллов, может обменять их на подарки из «Каталога подарков», а именно: зеленую чашку и блюдце с логотипом Ahmad Tea, зеленый чайник с логотипом Ahmad Tea, обложку для паспорта с логотипом Ahmad Tea, зонт с логотипом Ahmad Tea, Пляжное полотенце с логотипом Ahmad Tea, плед с логотипом Ahmad Tea, подставка под горячее с логотипом Ahmad Tea, набор кухонных полотенец с логотипом Ahmad Tea, декоративная подушка с логотипом Ahmad Tea, поднос с логотипом Ahmad Tea, часы с логотипом Ahmad Tea, фоторамка с логотипом Ahmad Tea.</p>
	<p>&nbsp;</p>
	<p>Количество подарков каждого наименования, которое может заказать один Участник, ограниченно и составляет:</p>
	<ul>
		<li>Зеленая чашка с блюдцем с логотипом Ahmad Tea — не более 6 штук,</li>
		<li>Зеленый чайник с логотипом Ahmad Tea — не более 4 штук,</li>
		<li>Обложка для паспорта с логотипом Ahmad Tea — не более 3 штук,</li>
		<li>Зонт с логотипом Ahmad Tea — не более 2 штук,</li>
		<li>Полотенце с логотипом Ahmad Tea — не более 2 штук,</li>
		<li>Плед с логотипом Ahmad Tea — не более 2 штук,</li>
		<li>Подставка под горячее с логотипом Ahmad Tea – не более 6 штук,</li>
		<li>Набор кухонных полотенец с логотипом Ahmad Tea – не более 3 штук,</li>
		<li>Декоративная подушка с логотипом Ahmad Tea – не более 2 штук,</li>
		<li>Поднос с логотипом Ahmad Tea – не более 2 штук,</li>
		<li>Часы с логотипом Ahmad Tea – не более 2 штук,</li>
		<li>Фоторамка с логотипом Ahmad Tea – не более 2 штук</li>
	</ul>
	<p>В случае превышения стоимости подарков 4000 рублей - Участник обязан самостоятельно исчислить и уплатить сумму НДФЛ  в размере 35% от стоимости соответствующего полученного подарка (пп.4, п.1 ст.228, п.2 ст.224 НК РФ).</p>
	<p>&nbsp;</p>
	<p>Общее количество выдаваемых подарков ограничено и составляет за всю Программу:</p>
	<ul>
		<li>Зеленая чашка с блюдцем с логотипом Ahmad Tea — не более 12 000 штук,</li>
		<li>Зеленый чайник с логотипом Ahmad Tea — не более 5 000 штук,</li>
		<li>Обложка для паспорта с логотипом Ahmad Tea — не более 9 000 штук,</li>
		<li>Зонт с логотипом Ahmad Tea — не более 1 500 штук,</li>
		<li>Полотенце с логотипом Ahmad Tea — не более 7 000 штук,</li>
		<li>Плед с логотипом Ahmad Tea — не более 5 000 штук,</li>
		<li>Подставка под горячее с логотипом Ahmad Tea – не более 2 500 штук,</li>
		<li>Набор кухонных полотенец с логотипом Ahmad Tea – не более 5 000 штук,</li>
		<li>Декоративная подушка с логотипом Ahmad Tea – не более 1 500 штук,</li>
		<li>Поднос с логотипом Ahmad Tea – не более 1 500 штук,</li>
		<li>Часы с логотипом Ahmad Tea – не более 1 500 штук,</li>
		<li>Фоторамка с логотипом Ahmad Tea – не более 1 000 штук</li>
	</ul>
	<p>В случае истечения ежемесячного лимита по выдаче подарков, Организатор вправе осуществить доставку в следующем календарном месяце.</p>
	<p>&nbsp;</p>
	<p>Количество баллов, необходимое для получения подарков:</p>
	<ul>
		<li>Для получения Обложки для паспорта с логотипом Ahmad Tea — 300 баллов.</li>
		<li>Для получения Зеленой чашки с блюдцем с логотипом Ahmad Tea — 500 баллов.</li>
		<li>Для получения Пляжного полотенца с логотипом Ahmad Tea — 1000 баллов.</li>
		<li>Для получения Зеленого чайника с логотипом Ahmad Tea — 800 баллов.</li>
		<li>Для получения Зонта с логотипом Ahmad Tea — 1 200 баллов.</li>
		<li>Для получения Пледа с логотипом Ahmad Tea — 1 000 баллов.</li>
		<li>Для получения Подставки под горячее с логотипом Ahmad Tea – 400 баллов.</li>
		<li>Для получения Набора кухонных полотенец с логотипом Ahmad Tea – 600 баллов.</li>
		<li>Для получения Декоративной подушки с логотипом Ahmad Tea – 800 баллов.</li>
		<li>Для получения Подноса с логотипом Ahmad Tea – 1 000 баллов.</li>
		<li>Для получения Часов с логотипом Ahmad Tea – 1 000 баллов.</li>
		<li>Для получения Фоторамки с логотипом Ahmad Tea – 1 000 баллов.	</li>
	</ul>
	<p>&nbsp;</p>
	<p>Условия получения подарков:</p>
	<ol>

		<li>При нажатии на кнопку «Заказать» Участник подтверждает свое согласие на получение данного вида подарка. В случае подтверждения Участником своего согласия на получение данного вида подарка, количество баллов, необходимое для получения данного вида подарка, спишется с баланса Участника. Информация об этом отразится в «Личном кабинете» Участника на сайте.</li>

		<li>Подтверждение об отправке Участнику подарка будет отправлено электронным письмом на e-mail адрес Участника, указанный им в регистрационной анкете на сайте.</li>

		<li>Подарок будет отправлен почтовым отправлением на адрес Участника, сообщенный им в анкете при регистрации на сайте.</li>

		<li>Результаты активности «Выбор и заказ подарков из «Каталога подарков» будут опубликованы в «Личном кабинете» Участника на сайте.</li>

		<li>Стоимость, модели, цвета, другие параметры и характеристики подарков определяются по усмотрению Организатора Программы и могут не совпадать с ожиданиями Участников. Подарки могут отличаться по внешнему виду от их изображений в рекламных материалах.</li>

		<li>Нераспределенными и невостребованными подарками, а также подарками, от получения которых Участники отказались, по итогам окончания периода активности, Организатор Программы вправе распорядиться по своему усмотрению. </li>

		<li>Подарки не могут быть востребованы Участниками повторно.</li>

		<li>Денежные компенсации Участнику не выдаются.</li>

		<li>Период выдачи подарков осуществляется с 15 февраля 2015 года по 30 сентября 2015 года. Фактом выдачи подарка является отправка подарка Победителю. Моментом отправки подарка считается дата в накладной курьерской службы или дата почтового штемпеля.</li>

		<li>Организатор не несет ответственность за нарушение сроков доставки подарков, их утрату и повреждение организациями, осуществляющими такую доставку.</li>

		<li>Организатор вправе отказать Участнику в получении подарка в случае, если Участник не сможет предоставить Организатору подтверждение наличия у него кодов от Продуктов торговой марки Ahmad Tea согласно п. 8 настоящих Правил.</li>
	</ol>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>12. Участие в «Творческом конкурсе».</h2>
	<p>Для участия в Творческом конкурсе Участник должен загрузить на сайт творческую работу, соответствующую теме и условиям Конкурса строго с 01.02.2015 по 30.07.2015.</p>
	<p>В рамках Конкурса будет объявлено три темы, прием историй по каждой будет осуществляться в период:</p>
	<ul>
		<li>«Ужин при свечах»  — с 01.02.2015 по 31.03.2015</li>
		<li>«Печеньки к чаю»  — с 01.04.2015 по 31.05.2015</li>
		<li>«Мое коронное блюдо»  — с 01.06.2015 по 30.07.2015</li>
	</ul>
	<p>Название тем опубликовано в разделе «Творческий конкурс».</p>
	<p>Работы, присланные по электронной почте или направленные почтовым отправлением на адрес Организатора, к участию в Конкурсе не допускаются.</p>
	<p>Датой предоставления работы Организатору считается дата успешной публикации работы в разделе «Творческий конкурс» на сайте.</p>
	<p>Работы, загруженные Участником для публикации, проходят предварительный просмотр Организатором Программы (модерацию) и только после этого публикуются.</p>
	<p>&nbsp;</p>
	<p>Организатор не допускает к участию в Программе следующие работы:</p>
	<ul>
		<li>Работы, не соответствующие теме Конкурса.</li>
		<li>Работы, содержащие информацию нецензурного, дискредитирующего, неприличного, порочащего или оскорбительного характера.</li>
		<li>Участник, загружая работу на Конкурс, подтверждает свое авторство данной работы. Организатор не несет ответственность по претензиям третьих лиц относительно авторства той или иной работы, размещенной Участником в Творческом конкурсе и соблюдения Участником действующего законодательства РФ относительно авторских и смежных прав.</li>
		<li>Иные творческие работы Участников, если такие работы, по мнению Организатора, не соответствуют теме Конкурса и имиджу торговой марки Ahmad Tea.</li>
		<li>Организатор по своему усмотрению имеет право не допускать к участию в Программе работы, сюжет и/или визуальный ряд которых на момент их предоставления, по мнению Организатора, схож с работами, уже опубликованными на сайте, или с иными известными Организатору материалами.</li>
	</ul>
	<p>Организатор имеет право отклонять публикацию работ на сайте или снимать уже опубликованную работу. В момент отмены публикации работы она удаляется с сайта, а Участник получает уведомление на адрес электронной почты, указанный в регистрационной анкете на сайте.</p>
	<p>Организатор имеет право не объявлять причины отклонения работ Участников, а также причины снятия работ с публикации.</p>
	<p>Если работа Участника была отклонена Организатором или снята с публикации, Участник имеет возможность предоставить новую работу взамен отклоненной или снятой с публикации.</p>
	<p>Если работа успешно прошла проверку Организатором, она считается опубликованной Участником и отображается на сайте в закладке «Творческие работы» разделе «Творческий конкурс».</p>
	<p>За каждую опубликованную работу в Конкурсе Участник получает 30 баллов, но не более 60 баллов за одну Тему. </p>
	<p>Участник может опубликовать на сайте неограниченное количество творческих работ.</p>
	<p>Все работы публикуются в разделе сайта «Творческие работы» в течение 36 часов с момента загрузки Участником-автором работы на сайт при условии, что творческая работа Участника успешно прошла проверку Организатором (модерацию).</p>
	<p>За все опубликованные работы могут голосовать Участники Программы. При голосовании Участнику начисляются баллы (5 баллов за один голос, но не более 15 баллов за одну тему).</p>
	<p>Ко всем опубликованным работам можно добавлять комментарии. Все комментарии проходят предварительный осмотр, после чего публикуются на сайте. Участник, чей комментарий опубликован на сайте, получает 15 баллов, но не более 45 баллов за одну тему, что отражается в его балансе в Личном кабинете.</p>
	<p>По итогам каждой темы определяется 10 работ, набравших наибольшее количество голосов (рейтингов). Этот список из 10 работ публикуется на странице «Рейтинги работ».</p>
	<p>За каждое место в списке лучших работ Организатор начисляет определенное количество бонусных баллов авторам работ:</p>
	<p>&nbsp;</p>
	<table>
		<tr>
			<th width="50%">Рейтинг</th>
			<th>Баллы</th>
		</tr>
		<tr>
			<td>1</td>
			<td>1200</td>
		</tr>
		<tr>
			<td>2</td>
			<td>1000</td>
		</tr>
		<tr>
			<td>3</td>
			<td>800</td>
		</tr>
		<tr>
			<td>4</td>
			<td>500</td>
		</tr>
		<tr>
			<td>5</td>
			<td>500</td>
		</tr>
		<tr>
			<td>6</td>
			<td>500</td>
		</tr>
		<tr>
			<td>7</td>
			<td>500</td>
		</tr>
		<tr>
			<td>8</td>
			<td>500</td>
		</tr>
		<tr>
			<td>9</td>
			<td>500</td>
		</tr>
		<tr>
			<td>10</td>
			<td>500</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>Выбор Победителя Творческого конкурса будет осуществлен решением Независимого Жюри: Редакция журнала «Лиза. Приятного Аппетита!». Победитель получит Специальный приз в размере  461 600 рублей на приобретение «Кухни Вашей мечты».</p>
	<p>Организатор, исполняя обязанности налогового агента, удерживает и перечисляет со стоимости приза НДФЛ в размере 35% составляющий 161 600 рублей в порядке и сроки, установленные Налоговым кодексом РФ (ст.224, 226 НК РФ).</p>
	<p>Выиграть Специальный приз может только тот зарегистрированный пользователь, который за период проведения Программы активизировал хотя бы 1 (один) код с пачки.</p>
	<p>Организатор уведомляет Победителя о победе в Творческом конкурсе и получении Специального приза по мобильному телефону или по адресу электронной почты, указанному в анкете при регистрации на сайте, и сообщает все детали получения Специального приза. Также результаты Творческого конкурса публикуются на сайте в течение 10 (десяти) календарных дней с момента окончания Конкурса.</p>
	<p>Условия получения приза в Творческом Конкурсе:</p>
	<ol>
		<li>Победитель должен до 30.11.2015 предоставить следующую информацию посредством электронной почты: info@club.ahmadtea.ru, факса: (495) 234 69 95 или почтового отправления на адрес Организатора: 121552, Москва, ул. Островная, д. 2: 
			<ul>
				<li>ксерокопию паспорта РФ, содержащую паспортные данные Победителя: Ф. И. О., дату рождения, а также номер и серию паспорта, дату и орган, выдавший паспорт, и адрес регистрации (вместе с индексом) на территории России; </li>
				<li>ксерокопию свидетельства ИНН;</li>
				<li>ксерокопию страхового свидетельства государственного пенсионного страхования;</li>
				<li>ксерокопию страниц договора между Победителем и третьим лицом, включающая сроки выполнения обязательств, стоимость, реквизиты третьего лица, эскизы или схемы или спецификацию на выбранный набор кухонной мебели.</li>
			</ul>
		</li>
		<li>После предоставления всех необходимых документов Победителем, Организатор перечисляет на расчетный счет Победителя сумму 300 000 рублей (после удержания налогов) на исполнение договорных обязательств между Победителем и Третьим лицом по поставке и установке набора кухонной мебели. Перечисление денежных средств от Организатора Победителю осуществляется только после выполнения следующих условий:</li>
		<li>В случае неполучения Организатором в установленный срок документов и / или сведений, необходимых для получения Специального приза, Специальный приз признается не востребованным Победителем и вручению не подлежит. </li>
	</ul>
	<p>В случае невыполнения Победителем условий получения Специального приза определение Победителя осуществляется повторно.</p>
	<p>Компания-Организатор вправе осуществлять данные действия с помощью третьих лиц.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<h2>13. Общие условия Программы</h2>
	<p>Согласие Победителей, которым присуждаются подарки, на участие в Программе является неотъемлемым условием получения подарка.</p>
	<p>Компания-Организатор Программы оставляет за собой право на проверку подлинности сведений и материалов, присланных Участниками для получения подарка.</p>
	<p>Компания-Организатор Программы является налоговым агентом Победителя Творческого конкурса Программы, ставшего обладателем Специального приза.</p>
	<p>Все присланные материалы для участия в Программе становятся собственностью компании-Организатора Программы и возврату не подлежат.</p>
	<p>Организатор не несет ответственность за сбои, связанные с регистрацией Участников, за сбои в работе почтовых и курьерских служб, вызванные действиями / бездействиями организаций, обеспечивающих их работу.</p>
	<p>Заполняя анкету, Участник подтверждает, что является совершеннолетним гражданином РФ, а также дает согласие на получение информации о проводимых мероприятиях, подарков, образцов продукции и других предложений от Организатора и уполномоченным им лицам право осуществлять обработку, включая сбор, хранение, использование, уничтожение, персональных данных Участника, указанных в анкете, с использованием средств автоматизации в целях проведения настоящей Программы и иных подобных мероприятий, формирования базы данных потребителей, составления статистической отчетности, проведения маркетинговых исследований, а также контактировать с Участником, в том числе по сетям электросвязи, включая направление SMS-сообщений и электронной почты, до отмены Участником такого согласия. Участник подтверждает, что уведомлен о том, что он имеет право отозвать свое согласие, отправив подписанное уведомление по адресу: 121552, Москва, ул. Островная, д. 2, либо направив письмо с указанием Ф. И. О. и адреса, указанных при регистрации, на адрес электронной почты info@club.ahmadtea.ru. Участник согласен с тем, что предоставленные им персональные данные будут удалены по его требованию в течение 60 дней с даты получения требования об их уничтожении.</p>
	<p>Компания-Организатор Программы оставляет за собой право использовать присланную информацию в рамках Программы без специального согласования с Участниками Программы и без последующего денежного вознаграждения. </p>
	<p>Организатор вправе по своему усмотрению вносить изменения в Правила участия в Программе. При этом указанные изменения публикуются на сайте не позднее чем за 5 дней до вступления указанных изменений в силу.</p>
</div>