<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Часто задаваемые вопросы:</h1>
	
	<p>&nbsp;</p>

	<div class="media">
		<div class="column2">Если вы не нашли ответ на вопрос, воспользуйтесь функцией <a href="#">задать вопрос</a>.</div>
		<div class="column2">Звоните по телефону горячей линии <br><strong style="font-size: 18px;">8 800 100 80 02</strong></div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<form>
		<input type="text" placeholder="Поиск" class="column3"> 
		<input type="submit" value="Найти" class="button green">
	</form>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<ul class="faq">
		<li>
			<h2>1. Как принять участие в Программе лояльности «From Ahmad Tea with love»?</h2>
			<div>
				Для участия в Программе лояльности необходимо купить пачку чая Ahmad Tea с символом Клуба «From Ahmad Tea with Love», найти код, расположенный под крышкой пачки, зарегистрироваться на сайте Клуба <a href="http://www.club.ahmadtea.ru">www.club.ahmadtea.ru</a> и активировать код. Коды можно регистрировать в период с 01.02.2015 года по 30.07.2015 года.
			</div>
		</li>
		<li>
			<h2>2. Как зарегистрироваться на сайте?</h2>
			<div>
				Необходимо кликнуть на ссылку «Регистрация», расположенную в правом верхнем углу сайта. Заполнить все обязательные поля и нажать кнопку «Готово». На ваш e-mail, указанный в регистрационной анкете, будет направлено письмо со ссылкой для подтверждения регистрации. Для завершения регистрации необходимо пройти по ссылке. После завершения регистрации Вы можете заходить на сайт, используя логин и пароль.
				<br><br>
				Если Вы уже регистрировались на сайте Клуба ранее, Вы можете войти в Личный кабинет под уже зарегистрированным логином и паролем.
			</div>
		</li>
		<li>
			<h2>3. Как активировать код на сайте?</h2>
			<div>
				Активировать коды на сайте может авторизованный пользователь (необходимо ввести логин и пароль). Для активации кода необходимо ввести код в форму активации кода в правом верхнем углу на любой странице сайта.
			</div>
		</li>
		<li>
			<h2>4. Можно ли использовать баллы с прошлой волны для заказа подарков?</h2>
			<div>
				Коды, зарегистрированные Участником ранее в прошлых Программах, не действительны в Программе 2015г.
			</div>
		</li>
		<li>
			<h2>5. Как восстановить пароль?</h2>
			<div>
				Кликните по ссылке «Забыли пароль?». На экране появится всплывающее окно с предложением ввести e-mail, указанный при регистрации. Новый пароль будет отправлен Вам на e-mail, указанный в анкете при регистрации.
			</div>
		</li>
		<li>
			<h2>6. Кто является организатором Программы лояльности?</h2>
			<div>
				Организатором Программы лояльности является эксклюзивный дистрибьютор ТМ Ahmad Tea в России ООО «СДС-ФУДС».
			</div>
		</li>
		<li>
			<h2>7.	Кто может участвовать в Программе лояльности?</h2>
			<div>
				В Программе лояльности могут принять участие дееспособные совершеннолетние граждане Российской Федерации, проживающие на территории Российской Федерации.
			</div>
		</li>
		<li>
			<h2>8.	Когда и где проводится Программа лояльности?</h2>
			<div>
				Программа лояльности проводится на территории РФ с 01 февраля 2015 года по 30 сентября 2015 года. Период регистрации уникальных кодов открыт с 31.12.2014 года по 30.07.2015 года включительно. Период выдачи Подарков до 30.09.2015 года.
			</div>
		</li>
		<li>
			<h2>9.	В какие сроки можно активировать коды?</h2>
			<div>
				Период регистрации уникальных кодов с 31.12.2014 года по 30.07.2015 года включительно. 
			</div>
		</li>
		<li>
			<h2>10.	Где можно прочитать подробные правила Программы лояльности?</h2>
			<div>
				Полные подробные правила Программы лояльности можно посмотреть
				<a href="#/help/rules-loyalty">тут</a>.
			</div>
		</li>
		<li>
			<h2>11. Какая продукция принимает участие в Программе лояльности?</h2>
			<div>
				В Программе лояльности участвует продукция торговой марки Ahmad Tea с символом Клуба «From Ahmad Tea with Love», а также с кодом, расположенным под крышкой.
			</div>
		</li>
		<li>
			<h2>12. Что такое код с пачки?</h2>
			<div>
				Набор из 10 цифровых и буквенных символов, напечатанный под крышкой. Например, 1202А98К56.
			</div>
		</li>
		<li>
			<h2>13. На каком языке нужно вводить буквенные символы?</h2>
			<div>
				Буквенные символы можно вводить как кириллицей, так и латиницей.
			</div>
		</li>
		<li>
			<h2>14. Где размещен код?</h2>
			<div>
				Код расположен под крышкой пачки продукции торговой марки Ahmad Tea с символом Клуба «From Ahmad Tea with Love».
			</div>
		</li>
		<li>
			<h2>15. Как узнать, что код зарегистрирован?</h2>
			<div>
				После активации кода в специальном окне на любой странице сайта в правом верхнем углу на экран выводится системное сообщение (успешная/неуспешная активация кода).
			</div>
		</li>
		<li>
			<h2>16. Сколько раз можно регистрировать один и тот же код?</h2>
			<div>
				Один и тот же код можно активировать только один раз.
			</div>
		</li>
		<li>
			<h2>17. Сколько баллов можно получить за каждый зарегистрированный код?</h2>
			<div>
				<div>При регистрации каждого кода с пачек с символом Клуба Участник получает следующее количество баллов:</div>
				<table>
					<tr><th width="5%">№</th><th>Наименование продукта</th><th width="22%">Количество баллов</th></tr>
					<tr><td>1</td><td>25 пакетиков Ерл Грей/Earl Grey</td><td>25</td></tr>
					<tr><td>2</td><td>25 пакетиков Английский завтрак / English Breakfast</td><td>25</td></tr>
					<tr><td>3</td><td>25 пакетиков в конвертах из фольги Эрл Грей / Earl Grey </td><td>25</td></tr>
					<tr><td>4</td><td>25 пакетиков Английский чай No.1 / English Tea No.1</td><td>25</td></tr>
					<tr><td>5</td><td>25 пакетиков Цейлонский чай / Ceylon Tea</td><td>25</td></tr>
					<tr><td>6</td><td>25 пакетиков Зеленый чай / Green Tea</td><td>25</td></tr>
					<tr><td>7</td><td>25 пакетиков Зеленый чай с жасмином / Jasmine Green Tea</td><td>25</td></tr>
					<tr><td>8</td><td>Английский завтрак / English Breakfast (90г)</td><td>50</td></tr>
					<tr><td>9</td><td>Цейлонский чай Оранж Пеко / Ceylon Tea Orange Pekoe (90г)</td><td>50</td></tr>
					<tr><td>10</td><td> Английский чай No.1 / English Tea No.1 (90г)</td><td>50</td></tr>
					<tr><td>11</td><td>Эрл Грей / Earl Grey (90г)</td><td>50</td></tr>
					<tr><td>12</td><td>Английская традиция / English Tradition (90г)</td><td>50</td></tr>
					<tr><td>13</td><td>100 пакетиков Английский завтрак / English Breakfast</td><td>100</td></tr>
					<tr><td>14</td><td>100 пакетиков Эрл Грей / Earl Grey</td><td>100</td></tr>
					<tr><td>15</td><td>100 пакетиков Английский чай No.1 / English Tea No.1</td><td>100</td></tr>
					<tr><td>16</td><td>100 пакетиков Цейлонский чай / Ceylon Tea</td><td>100</td></tr>
					<tr><td>17</td><td>100 пакетиков Зеленый чай / Green Tea</td><td>100</td></tr>
					<tr><td>18</td><td>100 пакетиков Зеленый чай с жасмином / Jasmine Green Tea</td><td>100</td></tr>
					<tr><td>19</td><td>Английский завтрак / English Breakfast (200г)</td><td>100</td></tr>
					<tr><td>20</td><td>Эрл Грей / Earl Grey (200г)</td><td>100</td></tr>
					<tr><td>21</td><td>Цейлонский чай Оранж Пеко / Ceylon Tea Orange Pekoe (200г)</td><td>100</td></tr>
					<tr><td>22</td><td>Цейлонский чай FBOPF Высокогорный/ Сeylon Tea FBOPF High Mountain (200г)</td><td>100</td></tr>
					<tr><td>23</td><td> Английский чай No.1 / English Tea No.1 (200г)</td><td>100</td></tr>
				</table>
				<div>При участии в творческом конкурсе можно получить баллы:</div>
				<table>
					<tr><th>Наименование позиции</th><th>Количество баллов</th><th>Максимальное количество<br />баллов на одну<br />тему Творческого конкурса</th></tr>
					<tr><td>Добавление работы<span class="red">*</span></td><td>30</td><td>60</td></tr>
					<tr><td>Комментирование<span class="red">*</span></td><td>15</td><td>45</td></tr>
					<tr><td>Голосование за историю</td><td>5</td><td>15</td></tr>
				</table>
				<div><span class="red">*</span> Баллы начисляются только за истории и комментарии, которые прошли модерацию.</div>
			</div>
		</li>
		<li>
			<h2>18. Сколько кодов можно зарегистрировать во время Программы лояльности?</h2>
			<div>
				Общее количество кодов, которое Вы можете зарегистрировать в течение Программы лояльности, ограниченно и составляет не более 200 (двухсот) кодов.
			</div>
		</li>
		<li>
			<h2>19. Почему может быть отказано в регистрации кода?</h2>
			<div>
				В случае ввода подряд 9 неверных кодов выводится предупреждение о возможной блокировке на 24 часа возможности активации кодов на сайте для данного Участника. В случае ввода подряд 10 неверных кодов активация кодов для данного Участника на сайте приостанавливается на 24 часа, при попытках активации выводится сообщение о блокировке пользователя.
			</div>
		</li>
		<li>
			<h2>20. Нужно ли сохранять упаковку продукции?</h2>
			<div>
				Да, Участникам необходимо хранить упаковки чая Ahmad Tea с изображенными на них кодами либо фотографическое изображение упаковок чая Ahmad Tea с изображенными на них кодами до окончания срока проведения Программы лояльности.
			</div>
		</li>
		<li>
			<h2>21. Какие подарки предлагаются в Программе лояльности?</h2>
			<div>
				По Программе лояльности можно получить следующие подарки:
				<ul>
					<li>Зеленую чашку и блюдце с логотипом Ahmad Tea</li>
					<li>Зеленый чайник с логотипом Ahmad Tea</li>
					<li>Обложку для паспорта с логотипом Ahmad Tea</li>
					<li>Зонт с логотипом Ahmad Tea</li>
					<li>Пляжное полотенце с логотипом Ahmad Tea</li>
					<li>Плед с логотипом Ahmad Tea</li>
					<li>Подставка под горячее с логотипом Ahmad Tea</li>
					<li>Набор кухонных полотенец с логотипом Ahmad Tea</li>
					<li>Декоративная подушка с логотипом Ahmad Tea</li>
					<li>Поднос с логотипом Ahmad Tea</li>
					<li>Часы с логотипом Ahmad Tea</li>
					<li>Фоторамка с логотипом Ahmad Tea.</li>
					<li>Специальный приз Победителю Творческого конкурса — «Кухня Вашей мечты»</li>
				</ul>
			</div>
		</li>
		<li>
			<h2>22. Что нужно сделать, чтобы получить подарки?</h2>
			<div>
				Для получения подарков необходимо набрать определенное количество баллов. Количество баллов, необходимое
				для получения подарков:
				<ul>
					<li>Для получения Обложки для паспорта с логотипом Ahmad Tea — 300 баллов</li>
					<li>Для получения Зеленой чашки с блюдцем с логотипом Ahmad Tea — 500 баллов</li>
					<li>Для получения Пляжного полотенца с логотипом Ahmad Tea — 1000 баллов</li>
					<li>Для получения Зеленого чайника с логотипом Ahmad Tea — 800 баллов</li>
					<li>Для получения Зонта с логотипом Ahmad Tea — 1 200 баллов</li>
					<li>Для получения Пледа с логотипом Ahmad Tea — 1 000 баллов</li>
					<li>Для получения Подставки под горячее с логотипом Ahmad Tea – 400 баллов.</li>
					<li>Для получения Набора кухонных полотенец с логотипом Ahmad Tea – 600 баллов.</li>
					<li>Для получения Декоративной подушки с логотипом Ahmad Tea – 800 баллов.</li>
					<li>Для получения Подноса с логотипом Ahmad Tea – 1 000 баллов.</li>
					<li>Для получения Часов с логотипом Ahmad Tea – 1 000 баллов.</li>
					<li>Для получения Фоторамки с логотипом Ahmad Tea – 1 000 баллов.</li>
				</ul>
			</div>
		</li>
		<li>
			<h2>23. В какие сроки будут отправлены подарки?</h2>
			<div>
				Отправка подарков осуществляется с 15 февраля 2015 года по 30 сентября 2015 года включительно. Каждый заказ обрабатывается в течение 2 недель и отправляется Участнику по адресу, указанному в анкете при регистрации. Доставка осуществляется Почтой России. Участник получает свой подарок в течение 1,5 месяцев после оформления заказа на сайте. Если Вы не получили подарок в указанные сроки, просим вас позвонить на Горячую Линию и сообщить, что подарок не доставлен.
			</div>
		</li>
		<li>
			<h2>25. Сколько подарков можно заказать?</h2>
			<div>
				Количество подарков каждого наименования, которое может заказать зарегистрированный Участник, ограниченно
				и составляет:
				<ul>
					<li>Зеленая чашка с блюдцем с логотипом Ahmad Tea — не более 6 штук</li>
					<li>Зеленый чайник с логотипом Ahmad Tea — не более 4 штук</li>
					<li>Обложка для паспорта с логотипом Ahmad Tea — не более 3 штук</li>
					<li>Зонт с логотипом Ahmad Tea — не более 2 штук</li>
					<li>Полотенце с логотипом Ahmad Tea — не более 2 штук</li>
					<li>Плед с логотипом Ahmad Tea — не более 2 штук</li>
					<li>Подставка под горячее с логотипом Ahmad Tea – не более 6 штук</li>
					<li>Набор кухонных полотенец с логотипом Ahmad Tea – не более 3 штук</li>
					<li>Декоративная подушка с логотипом Ahmad Tea – не более 2 штук</li>
					<li>Поднос с логотипом Ahmad Tea – не более 2 штук</li>
					<li>Часы с логотипом Ahmad Tea – не более 2 штук</li>
					<li>Фоторамка с логотипом Ahmad Tea – не более 2 штук</li>
				</ul>
			</div>
		</li>
		<li>
			<h2>26. Можно ли получить денежную компенсацию подарков, а не сами подарки?</h2>
			<div>
				Нет, денежная компенсация невозможна.
			</div>
		</li>
		<li>
			<h2>27. Каким образом будет осуществляться доставка подарка?</h2>
			<div>
				Подарок будет отправлен почтовым отправлением по адресу, указанному Вами в анкете при регистрации на сайте
				<a href="http://www.club.ahmadtea.ru">www.club.ahmadtea.ru</a>.
			</div>
		</li>
		<li>
			<h2>28. Кто оплачивает доставку подарка?</h2>
			<div>
				Доставка подарка оплачивается Организатором Программы лояльности. 
			</div>
		</li>
		<li>
			<h2>29. Что нужно сделать, чтобы поменять личные данные на сайте?</h2>
			<div>
				В Личном кабинете на странице «Редактирование данных» Вы можете внести изменения в любые данные и нажать на кнопку «Готово». В случае если Вы меняете e-mail адрес, то Вам будет направлено письмо с просьбой подтвердить новый e-mail адрес.
			</div>
		</li>
		<li>
			<h2>30. В какой срок проводится Творческий конкурс?</h2>
			<div>
				Срок проведения Конкурса с 01.02.2015 года по 30.07.2015 года.
			</div>
		</li>
		<li>
			<h2>31. Как принять участие в Творческом конкурсе?</h2>
			<div>
				Для того чтобы принять участие в Творческом конкурсе, необходимо опубликовать хотя бы одну историю по
				одной из заявленных тем в период с 01.04.2012 года до 30.09 2012 года.<br /><br />
				Список тем:
				<ul>
					<li> «Ужин при свечах»  — с 01.02.2015 по 31.03.2015</li>
					<li> «Печеньки к чаю»  — с 01.04.2015 по 31.05.2015</li>
					<li>«Мое коронное блюдо»  — с 01.06.2015 по 30.07.2015</li>
				</ul>
				При объявлении новой темы прекращается прием историй по предыдущей теме.
			</div>
		</li>
		<li>
			<h2>32. Как я могу получить Специальный приз?</h2>
			<div>
				Каждый Участник, успешно загрузивший на сайт свою работу по любой из объявленных тем, имеет возможность получить Специальный приз — «Кухня Вашей мечты». Участник может загрузить работу на сайт в любой период прохождения Конкурса.
			</div>
		</li>
		<li>
			<h2>33. Как выбирается победитель Специального приза?</h2>
			<div>
				стории принимаются до 30.07.2015 года. В течение 10 календарных дней с момента завершения Конкурса жюри выбирает победителя и обладателя Специального приза «Кухня Вашей мечты». Победитель Конкурса выбирается из всех опубликованных в Творческом конкурсе работ.<br><br>
				Жюри — Редакция журнала «Лиза. Приятного Аппетита!»<br><br>
				По итогам каждой темы определяется 10 работ, набравших наибольшее количество голосов (рейтингов). Этот список из 10 работ публикуется на странице «Рейтинги работ».<br><Br>
				За каждое место в списке Лучших работ Организатор начисляет определенное количество бонусных баллов авторам.
				<table>
					<tr><th width="50%">№ в рейтинге <br>по количеству голосов</th><th>Количество баллов</th></tr>
					<tr><td><b>1</b></td><td>1200 </td></tr>
					<tr><td><b>2</b></td><td>1000</td></tr>
					<tr><td><b>3</b></td><td>800</td></tr>
					<tr><td><b>4</b></td><td>500</td></tr>
					<tr><td><b>5</b></td><td>500</td></tr>
					<tr><td><b>6</b></td><td>500</td></tr>
					<tr><td><b>7</b></td><td>500</td></tr>
					<tr><td><b>8</b></td><td>500</td></tr>
					<tr><td><b>9</b></td><td>500</td></tr>
					<tr><td><b>10</b></td><td>500</td></tr>
				</table>
				Выиграть Специальный приз может только тот зарегистрированный пользователь, который за период проведения Программы лояльности активировал хотя бы один код с пачки.<br><br>
				<strong>При активном участии в Творческом конкурсе можно получать бонусные баллы.</strong>
				<table>
					<tr><th width="40%">Наименование позиции</th><th>Количество баллов</th><th width="30%">Максимальное количество<br />баллов на одну<br />тему Творческого конкурса</th></tr>
					<tr><td>Добавление истории<span class="red">*</span></td><td>15</td><td>30</td></tr>
					<tr><td>Комментирование<span class="red">*</span></td><td>5</td><td>25</td></tr>
					<tr><td>Голосование за работу</td><td>4</td><td>12</td></tr>
				</table>
				<span class="red">*</span> Баллы начисляются только за истории и комментарии, которые прошли модерацию.
			</div>
		</li>
		<li>
			<h2>34. Добавление работ</h2>
			<div>
				Добавлять работы можно только зарегистрировавшись на сайте и войдя на него (используя логин и пароль). <br><br>
				Для добавления работы надо нажать «Добавить работу» и заполнить все обязательные поля. После сохранения работа уходит на модерацию.<br><br>
				При добавлении работы, если она прошла модерацию, пользователю начисляется 30 баллов, но не больше 60 баллов за одну тему Творческого конкурса.
			</div>
		</li>
		<li>
			<h2>
				35. Сколько историй можно добавлять по каждой теме Творческого конкурса?
			</h2>
			<div>
				Добавлять можно неограниченное количество работ. Они должны отвечать Правилам Программы лояльности. Дополнительные баллы начисляются только за первые две успешно загруженные работы по каждой теме.
			</div>
		</li>
		<li>
			<h2>
				36. Каким требованиям должна отвечать история, чтобы ее опубликовали на сайте?
			</h2>
			<div>
				История должна:
				<ol>
					<li>Соответствовать заданной теме</li>
					<li>Должна быть изложена в художественном стиле</li>
					<li>Не должна содержать ненормативную лексику</li>
					<li>Не должна содержать политический подтекст</li>
					<li>
						Не должна содержать сюжет и/или визуальный ряд, которые на момент их представления, по мнению
						Организатора, схож с историями, уже опубликованными на сайте, или иными известными Организатору
						материалами.
					</li>
				</ol>
			</div>
		</li>
		<li>
			<h2>
				37. Работа соответствует требованиям, но не была опубликована на сайте. Почему?
			</h2>
			<div>
				Организатор оставляет за собой право не публиковать работу без объяснения причин.
			</div>
		</li>
		<li>
			<h2>38. Какие условия голосования за истории?</h2>
			<div>
				Зарегистрированные и вошедшие на сайт пользователи могут голосовать за работы, расположенные в разделе «Творческие работы» на странице Творческого конкурса. При голосовании пользователю начисляется 5 балла за один голос, но не больше 15 баллов по одной теме. Голосовать можно один раз за работу в течение суток. Количество работ для голосования неограниченно.
			</div>
		</li>
		<li>
			<h2>39. Добавление комментариев</h2>
			<div>
				Зарегистрированные и вошедшие на сайт пользователи могут оставлять комментарии за работы, расположенные в разделе «Творческие работы» на странице Творческого конкурса. Комментарии появляются на сайте только после прохождения модерации. Пользователю за комментарий, который прошел модерацию, начисляется 15 баллов, но не больше 45 баллов за одну тему.
			</div>
		</li>
		<li>
			<h2>40. Сколько может быть Победителей Конкурса?</h2>
			<div>
				Победитель Творческого конкурса только 1 (один).
			</div>
		</li>
		<li>
			<h2>41. Какие подарки можно получить, участвуя в Творческом конкурсе?</h2>
			<div>
				По итогам каждой темы 10 историй, которые набрали наибольшее количество голосов, премируются дополнительными бонусными баллами. Список лучших работ по теме можно посмотреть в разделе «Рейтинг работ».<Br><br>За попадание в десятку лучших работ Организатор начисляет дополнительные бонусные баллы следующим образом:
				<table>
					<tr><th width="50%">№ в рейтинге <br>по количеству голосов</th><th>Количество баллов</th></tr>
					<tr><td>1</td><td>1200</td></tr>
					<tr><td>2</td><td>1000</td></tr>
					<tr><td>3</td><td>800</td></tr>
					<tr><td>4</td><td>500</td></tr>
					<tr><td>5</td><td>500</td></tr>
					<tr><td>6</td><td>500</td></tr>
					<tr><td>7</td><td>500</td></tr>
					<tr><td>8</td><td>500</td></tr>
					<tr><td>9</td><td>500</td></tr>
					<tr><td>10</td><td>500</td></tr>
				</table>
				10 лучших работ будут выявляться на следующий день после окончания приема работ по теме.<br>
				10 лучших работ  будут выявляться по каждой из тем Творческого конкурса отдельно.
			</div>
		</li>
		<li>
			<h2>
				42. Если история не была добавлена, можно ли ее отредактировать и опубликовать еще раз?
			</h2>
			<div>
				Пользователь может отредактировать работу. Для редактирования надо пройти в Личный кабинет, зайти на страницу «Мои истории» и нажать ссылку «Редактировать» около истории, которую Вы хотите поправить. После внесения правок нажать «Сохранить», после чего история уходит на повторную модерацию.
			</div>
		</li>
		<li>
			<h2>43. Модерация историй и комментариев</h2>
			<div>
				Все истории, присланные на Конкурс, проходят модерацию:<br />
				<ul>
					<li>Если работа соответствует теме Конкурса и Правилам Программы лояльности, то модератор ее
										подтверждает.</li>
					<li>Если работа не соответствует теме Конкурса и Правилам Программы лояльности, то модератор
										отклоняет работу.</li>
				</ul>
				В случае подтверждения и отклонения Вы получите соответствующие письма на e-mail, указанный в анкете при
				регистрации.<br />
				Если в истории есть грамматические ошибки, то модератор может внести правку в историю и ее подтвердить.
				<br /><br />
				Критерии отсева работа и комментариев:<br />
				<ul>
					<li>Удаляются все сообщения рекламного характера, а также ссылки и тексты, не имеющие отношение к
									тематике Конкурса.</li>
					<li>Удаляются оскорбительные слова и выражения, а также тексты, содержащие ненормативную лексику.</li>
					<li>Удаляются оскорбительные комментарии в адрес посетителей сайта.</li>
					<li>Удаляются комментарии, содержащие расовые, религиозные оскорбления.</li>
				</ul>

					<br />
				Организатор оставляет за собой право не публиковать историю без объяснения причин.
			</div>
		</li>
		<li>
			<h2>44. Я получил на почте подарок с дефектом. Что мне делать?</h2>
			<div>При получении подарка на почте вскройте посылку и внимательно осмотрите ее содержимое. В случае обнаружения любого дефекта (бой, повреждение, неполный комплект и т.д.) обратитесь к сотруднику Почты РФ. В его присутствии составьте акт по форме 51-в. Только при наличии данного акта мы сможем вести с Почтой РФ переговоры о возмещении ущерба. <br><br>Помните, что отказ вскрывать посылку и составлять акт по форме 51-в со стороны сотрудников Почты - незаконен!</div>
		</li>
	</ul>

</div>