<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<form>
		<h1>Обратная связь</h1>
		<p>&nbsp;</p>
		<p>
			<label class="column1">Электронная почта</label>
			<input type="text" placeholder="" class="column2">
			<span class="error">Поле не заполнено</span>
		</p>
		<p>
			<label class="column1">Ваше сообщение</label>
			<textarea class="column2" rows="10"></textarea>
			<span class="error">Поле не заполнено</span>
		</p>
		<p>
			<label class="column1">&nbsp;</label>
			<input class="column1 huge button green" type="submit" value="Отправить">
		</p>
	</form>	
</div>