<div class="row">
	<div id="site-sub-menu" class="column5 left1">
		<a href="#" ui-sref="help.rules" ui-sref-active="active">Помощь</a>
		<a href="#" ui-sref="help.feedback" ui-sref-active="active">Обратная связь</a>
	</div>
</div>

<div id="site-content" ui-view="content" class="row"></div>

