<div class="column4 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Правила участия в «Творческом конкурсе»</h1>
	
	<!-- <p>&nbsp;</p>

	<div class="media">
		<div class="column2">Если вы не нашли ответ на вопрос, воспользуйтесь функцией <a href="#">задать вопрос</a>.</div>
		<div class="column2">Звоните по телефону горячей линии <br><strong style="font-size: 18px;">8 800 100 80 02</strong></div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<form>
		<input type="text" placeholder="Поиск" class="column3"> 
		<input type="submit" value="Найти" class="button green">
	</form> -->

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<p>Для участия в Творческом конкурсе Участник должен загрузить на сайт творческую работу, соответствующую теме и условиям Конкурса строго с 01.02.2015 по 30.07.2015.</p>

	<p>В рамках Конкурса будет объявлено три темы, прием историй по каждой будет осуществляться в период:</p>

	<ul>
		<li>«Ужин при свечах»  — с 01.02.2015 по 31.03.2015</li>
		<li>«Печеньки к чаю»  — с 01.04.2015 по 31.05.2015</li>
		<li>«Мое коронное блюдо»  — с 01.06.2015 по 30.07.2015</li>
	</ul>

	<p>Название тем опубликовано в разделе «Творческий конкурс».</p>

	<p>Работы, присланные по электронной почте или направленные почтовым отправлением на адрес Организатора, к участию в Конкурсе не допускаются.</p>

	<p>Датой предоставления работы Организатору считается дата успешной публикации работы в разделе «Творческий конкурс» на сайте.</p>

	<p>Работы, загруженные Участником для публикации, проходят предварительный просмотр Организатором Программы (модерацию) и только после этого публикуются.</p>

	<p>Организатор не допускает к участию в Программе следующие работы:</p>

	<ul>
		<li>Работы, не соответствующие теме Конкурса.</li>
		<li>Работы, содержащие информацию нецензурного, дискредитирующего, неприличного, порочащего или оскорбительного характера.</li>
	</ul>

	<p>Участник, загружая работу на Конкурс, подтверждает свое авторство данной работы. Организатор не несет ответственность по претензиям третьих лиц относительно авторства той или иной работы, размещенной Участником в Творческом конкурсе и соблюдения Участником действующего законодательства РФ относительно авторских и смежных прав.</p>
	<p>Иные творческие работы Участников, если такие работы, по мнению Организатора, не соответствуют теме Конкурса и имиджу торговой марки Ahmad Tea.</p>
	<p>Организатор по своему усмотрению имеет право не допускать к участию в Программе работы, сюжет и/или визуальный ряд которых на момент их предоставления, по мнению Организатора, схож с работами, уже опубликованными на сайте, или с иными известными Организатору материалами.</p>
	<p>Организатор имеет право отклонять публикацию работ на сайте или снимать уже опубликованную работу. В момент отмены публикации работы она удаляется с сайта, а Участник получает уведомление на адрес электронной почты, указанный в регистрационной анкете на сайте.</p>

	<p>Организатор имеет право не объявлять причины отклонения работ Участников, а также причины снятия работ с публикации.</p>

	<p>Если работа Участника была отклонена Организатором или снята с публикации, Участник имеет возможность предоставить новую работу взамен отклоненной или снятой с публикации.</p>

	<p>Если работа успешно прошла проверку Организатором, она считается опубликованной Участником и отображается на сайте в закладке «Творческие работы» разделе «Творческий конкурс».</p>

	<p>За каждую опубликованную работу в Конкурсе Участник получает 30 баллов, но не более 60 баллов за одну Тему. </p>

	<p>Участник может опубликовать на сайте неограниченное количество творческих работ.</p>

	<p>Все работы публикуются в разделе сайта «Творческие работы» в течение 36 часов с момента загрузки Участником-автором работы на сайт при условии, что творческая работа Участника успешно прошла проверку Организатором (модерацию).</p>

	<p>За все опубликованные работы могут голосовать Участники Программы. При голосовании Участнику начисляются баллы (5 баллов за один голос, но не более 15 баллов за одну тему).</p>

	<p>Ко всем опубликованным работам можно добавлять комментарии. Все комментарии проходят предварительный осмотр, после чего публикуются на сайте. Участник, чей комментарий опубликован на сайте, получает 15 баллов, но не более 45 баллов за одну тему, что отражается в его балансе в Личном кабинете.</p>

	<p>По итогам каждой темы определяется 10 работ, набравших наибольшее количество голосов (рейтингов). Этот список из 10 работ публикуется на странице «Рейтинги работ».</p>

	<p>За каждое место в списке лучших работ Организатор начисляет определенное количество бонусных баллов авторам работ:</p>

	<p>&nbsp;</p>

	<table>
		<tr>
			<th width="50%">№ в рейтинге по количеству голосов</th>
			<th>Количество бонусных баллов</th>
		</tr>
		<tr><td>1</td><td>1200</td></tr>
		<tr><td>2</td><td>1000</td></tr>
		<tr><td>3</td><td>800</td></tr>
		<tr><td>4</td><td>500</td></tr>
		<tr><td>5</td><td>500</td></tr>
		<tr><td>6</td><td>500</td></tr>
		<tr><td>7</td><td>500</td></tr>
		<tr><td>8</td><td>500</td></tr>
		<tr><td>9</td><td>500</td></tr>
		<tr><td>10</td><td>500</td></tr>
	</table>

	<p>&nbsp;</p>

	<p>Выбор Победителя Творческого конкурса будет осуществлен решением Независимого Жюри: Редакция журнала «Лиза. Приятного Аппетита!». Победитель получит Специальный приз в размере  461 600 рублей на приобретение «Кухни Вашей мечты».</p>
	<p>Организатор, исполняя обязанности налогового агента, удерживает и перечисляет со стоимости приза НДФЛ в размере 35% составляющий 161 600 рублей в порядке и сроки, установленные Налоговым кодексом РФ (ст.224, 226 НК РФ).
	Выиграть Специальный приз может только тот зарегистрированный пользователь, который за период проведения Программы активизировал хотя бы 1 (один) код с пачки.</p>

	<p>Организатор уведомляет Победителя о победе в Творческом конкурсе и получении Специального приза по мобильному телефону или по адресу электронной почты, указанному в анкете при регистрации на сайте, и сообщает все детали получения Специального приза. Также результаты Творческого конкурса публикуются на сайте в течение 10 (десяти) календарных дней с момента окончания Конкурса.</p>

	<p>Условия получения приза в Творческом Конкурсе:</p>

	<ol>
		<li>
			<p>Победитель должен до 30.11.2015 предоставить следующую информацию посредством электронной почты: info@club.ahmadtea.ru, факса: (495) 234 69 95 или почтового отправления на адрес Организатора: 121552, Москва, ул. Островная, д. 2:</p>

			<ul>
				<li>ксерокопию паспорта РФ, содержащую паспортные данные Победителя: Ф. И. О., дату рождения, а также номер и серию паспорта, дату и орган, выдавший паспорт, и адрес регистрации (вместе с индексом) на территории России; </li>
				<li>ксерокопию свидетельства ИНН;</li>
				<li>ксерокопию страхового свидетельства государственного пенсионного страхования;</li>
				<li>ксерокопию страниц договора между Победителем и третьим лицом, включающая сроки выполнения обязательств, стоимость, реквизиты третьего лица, эскизы или схемы или спецификацию на выбранный набор кухонной мебели.</li>
			</ul>
		</li> 


		<li>После предоставления всех необходимых документов Победителем, Организатор перечисляет на расчетный счет Победителя сумму 300 000 рублей (после удержания налогов) на исполнение договорных обязательств между Победителем и Третьим лицом по поставке и установке набора кухонной мебели. Перечисление денежных средств от Организатора Победителю осуществляется только после выполнения следующих условий:</li>

		<li>В случае неполучения Организатором в установленный срок документов и / или сведений, необходимых для получения Специального приза, Специальный приз признается не востребованным Победителем и вручению не подлежит.</li>
	</ol>

	<p>В случае невыполнения Победителем условий получения Специального приза определение Победителя осуществляется повторно.</p>

	<p>Компания-Организатор вправе осуществлять данные действия с помощью третьих лиц.</p>

	<p>Общие условия Программы</p>

	<p>Согласие Победителей, которым присуждаются подарки, на участие в Программе является неотъемлемым условием получения подарка. </p>

	<p>Компания — Организатор Программы оставляет за собой право на проверку подлинности сведений и материалов, присланных Участниками для получения подарка.</p>

	<p>Компания — Организатор Программы является налоговым агентом Победителя Творческого конкурса Программы, ставшего обладателем Специального приза.</p>

	<p>Все присланные материалы для участия в Программе становятся собственностью компании — Организатора Программы и возврату не подлежат.</p>

	<p>Организатор не несет ответственность за сбои, связанные с регистрацией Участников, за сбои в работе почтовых и курьерских служб, вызванные действиями / бездействиями организаций, обеспечивающих их работу.</p>

	<p>Заполняя анкету, Участник подтверждает, что является совершеннолетним гражданином РФ, а также дает согласие на получение информации о проводимых мероприятиях, подарков, образцов продукции и других предложений от Организатора и уполномоченным им лицам право осуществлять обработку, включая сбор, хранение, использование, уничтожение, персональных данных Участника, указанных в анкете, с использованием средств автоматизации в целях проведения настоящей Программы и иных подобных мероприятий, формирования базы данных потребителей, составления статистической отчетности, проведения маркетинговых исследований, а также контактировать с Участником, в том числе по сетям электросвязи, включая направление SMS-сообщений и электронной почты, до отмены Участником такого согласия. Участник подтверждает, что уведомлен о том, что он имеет право отозвать свое согласие, отправив подписанное уведомление по адресу: 121552, Москва, ул. Островная, д. 2, либо направив письмо с указанием Ф. И. О. и адреса, указанных при регистрации, на адрес электронной почты info@club.ahmadtea.ru. Участник согласен с тем, что предоставленные им персональные данные будут удалены по его требованию в течение 60 дней с даты получения требования об их уничтожении.</p>

	<p>Компания — Организатор Программы оставляет за собой право использовать присланную информацию в рамках Программы без специального согласования с Участниками Программы и без последующего денежного вознаграждения. </p>

	<p>Организатор вправе по своему усмотрению вносить изменения в Правила участия в Программе. При этом указанные изменения публикуются на сайте не позднее чем за 5 дней до вступления указанных изменений в силу.</p>

</div>