<div id="promo-banner-share" class="row">
	<div class="column4">
		<h1>Пригласи друга<br>и получи 100 баллов в подарок!</h1>
		<div class="share-instruction">
			<div class="share-instruction-step">
				<div class="step-icon">
					<img src="images/share-step-1.png">
				</div>
				<h3>Приглашаете<br>друга</h3>
			</div>
			<div class="share-instruction-step">
				<div class="step-icon">
					<img src="images/share-step-2.png">
				</div>
				<h3>Друг активирует<br>код с пачки</h3>
			</div>
			<div class="share-instruction-step">
				<div class="step-icon">
					<img src="images/share-step-3.png">
				</div>
				<h3>Вы получаете<br>баллы</h3>
			</div>
		</div>
		<p><a class="button next" href="">Подробности акции</a></p>
	</div>

	<div class="column2">
		<form class="enter-code">
			<img src="images/code-back.png">
			<p><input type="text" placeholder="Введите код"></p>
			<p><input type="submit" value="Активировать код"></p>
			<p><a class="red" href="#/auth/registration">Регистрация</a></p>
		</form>
	</div>
</div>

<div id="promo-menu">
	<div class="row">
		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-flower-green-01.png">
			</div>
			<div class="column2">
				<h4 class="pen-back"><span class="border">Творческий конкурс</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>

		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-illustration.png">
			</div>
			<div class="column2">
				<h4><span class="border">Ти тайм</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>

		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-gifts-green-01.png">
			</div>
			<div class="column2">
				<h4><span class="border">Каталог подарков</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>
	</div>
</div>


<!-- Для тестирования-->
<div style="background-color: red; color: white; padding: 1rem 4rem;">
	<h1>Вызовы попапов</h1>
	<p>
		<span data-toggle-modal="#codelimit">Ограничение кодов</span>,
		<span data-toggle-modal="#scorelimit">Недостаточно баллов</span>,
		<span data-toggle-modal="#youaddsomething">Вы добавили</span>,
		<span data-toggle-modal="#login">Логин</span>,
		<span onclick="preloaderShow();" style="cursor: pointer;">Прелоадер</span>
		<a href="#/404">Страница 404</a>,
		<span data-toggle-modal="#entercode">Активировать код</span>,
		<span data-toggle-modal="#fillregistration">Заполнить анкету</span>,
		<span data-toggle-modal="#order-gift">Заказ подарка</span>,
		<span data-toggle-modal="#order-problem">Невозможно сделать заказ</span>,
	</p>
</div>