<div id="promo-banner" class="row">
	<div class="column4">

		<div class="slide contest-end">
			<div class="column3">
				<p class="single-image"><img src="images/lisa-logo.png"></p>
				<h1>Итоги творческого конкурса <br>от редакции журнала <br>«Лиза. Приятного аппетита!»</h1>
				<p class="action"><a href="#" type="submit" class="button next">Посмотреть результаты</a></p>
			</div>
		</div>

		<!-- <div class="fotorama"
				data-width="700"
				data-height="390"
				data-arrows="false"
				data-autoplay="4000"
				data-stopautoplayontouch="false"
				data-transition="crossfade"
				data-allowfullscreen="false"
				data-nav="false">
			<div class="slide">
				<div class="column2">
					<img src="images/promo-banner-slide-2.png" style="position: relative; left: -1rem;">
				</div>
				<div class="column2">
					<h1>Период регистрации <br>кодов продлен<br> до 31 августа</h1>
					<p>&nbsp;</p>
					<p>Период регистрации кодов продлен <br>по 31 августа включительно.</p>
					<p>Период выдачи подарков победителям<br> продлен до 30 октября.</p>
				</div>
			</div>
			<div class="slide">
				<div class="column4" id="promo-banner-share">
			        <h1>Пригласи друга<br>и получи 100 баллов в подарок!</h1>

			        <div class="share-instruction">
			            <div class="share-instruction-step">
			                <div class="step-icon">
			                    <img src="images/share-step-1.png">
			                </div>
			                <h3>Приглашаете<br>друга</h3>
			            </div>
			            <div class="share-instruction-step">
			                <div class="step-icon">
			                    <img src="images/share-step-2.png">
			                </div>
			                <h3>Друг активирует<br>код с пачки</h3>
			            </div>
			            <div class="share-instruction-step">
			                <div class="step-icon">
			                    <img src="images/share-step-3.png">
			                </div>
			                <h3>Вы получаете<br>баллы</h3>
			            </div>
			        </div>


			        <p><a class="button next" href="/cabinet/invite.html" data-bind="show-invite" data-modal-selector="#login" data-url="/cabinet/invite.html">Подробности акции</a></p>
			    </div>
			</div>
			<div class="slide">
				<div class="column2">
					<img src="images/promo-banner-slide-1.png">
				</div>
				<div class="column2">
					<h1>Покупайте чай <br>Ahmad Tea <br>с символом клуба <br>From Ahmad Tea <br>with love.</h1>
				</div>
			</div>
			<div class="slide">
				<div class="column2">
					<img src="images/1_para.png">
				</div>
				<div class="column2">
					<h1>Копите баллы <br>и получайте замечательные подарки.</h1>
				</div>
			</div>
			<div class="slide">
				<div class="column2">
					<img src="images/promo-banner-slide-4.png">
				</div>
				<div class="column2">
					<h1>Участвуйте <br>в творческом конкурсе <br>и выиграйте кухню <br>вашей мечты!</h1>
				</div>
			</div>
		</div>
		<script src="lib/fotorama/fotorama.js"></script>
		<script>
			$("head").append("<link rel='stylesheet' href='lib/fotorama/fotorama.css'></link>");
			function initPromoBanner() {
				var api = $("#promo-banner").find(".fotorama").fotorama({
					width: 700
				});
				api.resize({
					width: 700
				})
			}
			$(document).on("ready", initPromoBanner);
		</script> -->
	</div>

	<div class="column2">
		<form class="enter-code">
			<img src="images/code-back.png">
			<p><input type="text" placeholder="Введите код"></p>
			<p><input type="submit" value="Активировать код"></p>
			<p><a class="red" href="#/auth/registration">Регистрация</a></p>
		</form>
	</div>
</div>

<div id="promo-menu">
	<div class="row">
		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-flower-green-01.png">
			</div>
			<div class="column2">
				<h4 class="pen-back"><span class="border">Творческий конкурс</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>

		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-illustration.png">
			</div>
			<div class="column2">
				<h4><span class="border">Ти тайм</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>

		<a href="#" class="media column3">
			<div class="column1">
				<img class="media-round-image" src="images/round-gifts-green-01.png">
			</div>
			<div class="column2">
				<h4><span class="border">Каталог подарков</span></h4>
				<p>Напишите историю на тему «Самый романтичный ужин» и выиграйте Кухню Вашей мечты!</p>
			</div>
		</a>
	</div>
</div>


<!-- Для тестирования-->
<div style="background-color: red; color: white; padding: 1rem 4rem;">
	<h1>Вызовы попапов</h1>
	<p>
		<span data-toggle-modal="#codelimit">Ограничение кодов</span>,
		<span data-toggle-modal="#scorelimit">Недостаточно баллов</span>,
		<span data-toggle-modal="#youaddsomething">Вы добавили</span>,
		<span data-toggle-modal="#login">Логин</span>,
		<span onclick="preloaderShow();" style="cursor: pointer;">Прелоадер</span>
		<a href="#/404">Страница 404</a>,
		<span data-toggle-modal="#entercode">Активировать код</span>,
		<span data-toggle-modal="#fillregistration">Заполнить анкету</span>,
		<span data-toggle-modal="#order-gift">Заказ подарка</span>,
		<span data-toggle-modal="#order-problem">Невозможно сделать заказ</span>,
	</p>
</div>