<div id="site-content" class="row">
	<div class="column4 left1">
		<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
		<h1>Чайная карта</h1>
		<p>&nbsp;</p>
	</div>

	<div class="column4 left1">
		<ul class="catalog">
			<li class="column2">
				<div class="image">
					<img src="images/tea.png">
				</div>
				<h3>Эрл Грэй</h3>
				<div class="official"><em>черный чай с бергамотом</em></div>
				<p class="text">Изысканное сочетание цейлонского чая высшего качества и волшебного аромата бергамота раскроет вам секрет семейного благополучия.</p>
				<div class="badge"><strong>100</strong>баллов</div>
			</li>
			<li class="column2">
				<div class="image">
					<img src="images/tea.png">
				</div>
				<h3>Эрл Грэй</h3>
				<div class="official"><em>черный чай с бергамотом</em></div>
				<p class="text">Изысканное сочетание цейлонского чая высшего качества и волшебного аромата бергамота раскроет вам секрет семейного благополучия.</p>
				<div class="badge"><strong>100</strong>баллов</div>
			</li>
			<li class="column2">
				<div class="image">
					<img src="images/tea.png">
				</div>
				<h3>Эрл Грэй</h3>
				<div class="official"><em>черный чай с бергамотом</em></div>
				<p class="text">Изысканное сочетание цейлонского чая высшего качества и волшебного аромата бергамота раскроет вам секрет семейного благополучия.</p>
				<div class="badge"><strong>100</strong>баллов</div>
			</li>
			<li class="column2">
				<div class="image">
					<img src="images/tea.png">
				</div>
				<h3>Эрл Грэй</h3>
				<div class="official"><em>черный чай с бергамотом</em></div>
				<p class="text">Изысканное сочетание цейлонского чая высшего качества и волшебного аромата бергамота раскроет вам секрет семейного благополучия.</p>
				<div class="badge"><strong>100</strong>баллов</div>
			</li>
			<li class="column2">
				<div class="image">
					<img src="images/tea.png">
				</div>
				<h3>Эрл Грэй</h3>
				<div class="official"><em>черный чай с бергамотом</em></div>
				<p class="text">Изысканное сочетание цейлонского чая высшего качества и волшебного аромата бергамота раскроет вам секрет семейного благополучия.</p>
				<div class="badge"><strong>100</strong>баллов</div>
			</li>
		</ul>
	</div>

	<div class="column1">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<a class="media-round-item" href="#">
			<div class="icon-teabag"></div>
			<div>В пакетиках</div>
		</a>
		<p>&nbsp;</p>
		<a class="media-round-item active" href="#">
			<div class="icon-tealeaf"></div>
			<div>Листовой</div>
		</a>
	</div>
</div>