<div class="row">
	<div id="site-sub-menu" class="column5 left1">
		<a href="#/teatime/test" ng-class="{active: $state.current.name == 'teatime.test'}">Тесты</a>
		<a href="#" ui-sref="teatime.wallpapers" ui-sref-active="active">Обои</a>
		<a href="#" ui-sref="teatime.magic" ui-sref-active="active">Магия чая</a>
		<a href="#" ui-sref="teatime.valentine" ui-sref-active="active">Валентинка</a>
	</div>
</div>

<div id="site-content" ui-view="content" class="row"></div>

