<script src="lib/fotorama/fotorama.js"></script>
<script>
	$("head").append("<link rel='stylesheet' href='lib/fotorama/fotorama.css'></link>");
	$("#site-content").addClass("wide");
</script>

<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>

<div id="wallpapers" class="fotorama" 
		data-width="100%" 
		data-height="520"
		data-arrows="false"
		data-margin="0"
		data-loop="true"
		data-nav="thumbs"
		data-fit="cover"
		data-transition="crossfade"
		data-navposition="bottom">

	<div class="slide" data-img="images/wallpapers/CB_1238_In_the_Garden_George_G_Kilburne.jpg" data-thumb="images/wallpapers/CB_1238_In_the_Garden_George_G_Kilburne.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>В саду</h1>
			<p><em>Джордж Г. Килберн (1839-1924)  </em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/CS_1239_Vetheuil_Claude_Monet.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/CBOP1_ 887_892_Tugs_and_Lighters_Westminster_Pier_1895_John_Sutton.jpg" data-thumb="images/wallpapers/CBOP1_ 887_892_Tugs_and_Lighters_Westminster_Pier_1895_John_Sutton.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Буксиры и баржи, Вестминстерский причал, 1895 г.</h1>
			<p><em>Джон Саттон (р. 1935)</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/CBOP1_ 887_892_Tugs_and_Lighters_Westminster_Pier_1895_John_Sutton.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/CFBOPF_638_639_1291_Horse_Guards_Whitehall_John_Sutton.jpg" data-thumb="images/wallpapers/CFBOPF_638_639_1291_Horse_Guards_Whitehall_John_Sutton.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Здание Конной Гвардии, Уайтхолл</h1>
			<p><em>Джон Саттон (р. 1935)</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/CFBOPF_638_639_1291_Horse_Guards_Whitehall_John_Sutton.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/COP_ 479_163_584_637_1299_1289-579_The_2nd_Footguards_Coldstream_on_Parade_at_Horse_Guards_John_Chapman.jpg" data-thumb="images/wallpapers/COP_ 479_163_584_637_1299_1289-579_The_2nd_Footguards_Coldstream_on_Parade_at_Horse_Guards_John_Chapman.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Второй пехотный полк (Гвардия) на плацу <br>Хорс-Гардс</h1>
			<p><em>Джон Чапмен, 1750</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/COP_ 479_163_584_637_1299_1289-579_The_2nd_Footguards_Coldstream_on_Parade_at_Horse_Guards_John_Chapman.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>

	</div>
	<div class="slide" data-img="images/wallpapers/CS_1239_Vetheuil_Claude_Monet.jpg" data-thumb="images/wallpapers/CS_1239_Vetheuil_Claude_Monet.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>г. Ветёй</h1>
			<p><em>Клод Моне, 1879 г.</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/CS_1239_Vetheuil_Claude_Monet.jpg" data-thumb="images/wallpapers/CS_1239_Vetheuil_Claude_Monet.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Earl_Grey.jpg" data-thumb="images/wallpapers/Earl_Grey.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Новый Дом Парламента</h1>
			<p><em>Эдмунд Уолкер, 1852 г.</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Earl_Grey.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/EB_590_600_918_799_809_1301_1292_High_Society_Hyde_Park_Carlo_Bossoli.jpg" data-thumb="images/wallpapers/EB_590_600_918_799_809_1301_1292_High_Society_Hyde_Park_Carlo_Bossoli.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Высший свет, Гайд Парк</h1>
			<p><em>Карло Боссоли, 185</em></p>
		</div> 
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/EB_590_600_918_799_809_1301_1292_High_Society_Hyde_Park_Carlo_Bossoli.jpg" download>1920×1080</a>   <a href="#" download>1366×768</a>   <a href="#" download>iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/ET_684_704_1303_1294_View_of_Westminster_John_Sutton.jpg" data-thumb="images/wallpapers/ET_684_704_1303_1294_View_of_Westminster_John_Sutton.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Вид на Вестминстер</h1>
			<p><em>Джон Саттон (р. 1935)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/ET_684_704_1303_1294_View_of_Westminster_John_Sutton.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/ETNo_1_599_598_899_900_1302_1293_The_Opening_of_Tower_Bridge_William_L_Wyllie.jpg" data-thumb="images/wallpapers/ETNo_1_599_598_899_900_1302_1293_The_Opening_of_Tower_Bridge_William_L_Wyllie.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Открытие моста Тауэр</h1>
			<p><em>Вильям Л. Уайли, 1894 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/ETNo_1_599_598_899_900_1302_1293_The_Opening_of_Tower_Bridge_William_L_Wyllie.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/FO_1297_1269_Schloss_Friedrichshof_Mima_Nixon.jpg" data-thumb="images/wallpapers/FO_1297_1269_Schloss_Friedrichshof_Mima_Nixon.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Замок Фридрихсхоф</h1>
			<p><em>Майма Никсон, 1916 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/FO_1297_1269_Schloss_Friedrichshof_Mima_Nixon.jpg" data-thumb="images/wallpapers/FO_1297_1269_Schloss_Friedrichshof_Mima_Nixon.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/GT_589_478_802_856_1304_1310_Old_Horse_Guards_and_the_Banqueting_Hall_Whitehall_from_St_Jamess_Park_Canaletto_Giovanni A Canal.jpg" data-thumb="images/wallpapers/GT_589_478_802_856_1304_1310_Old_Horse_Guards_and_the_Banqueting_Hall_Whitehall_from_St_Jamess_Park_Canaletto_Giovanni A Canal.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Олд Хорз Гардс и Банкетинг Холл, вид на Уайтхолл из парка Сент Джеймс</h1>
			<p><em>Каналетто (Джованни А. Канале), 1749 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/GT_589_478_802_856_1304_1310_Old_Horse_Guards_and_the_Banqueting_Hall_Whitehall_from_St_Jamess_Park_Canaletto_Giovanni A Canal.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Indian_Assam_Longleaf.jpg" data-thumb="images/wallpapers/Indian_Assam_Longleaf.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Эдвин Хьюз проезжает мимо королевской биржи</h1>
			<p><em>Неизвестный автор, 1847 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Indian_Assam_Longleaf.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/JGT_ 471_475_954_955_1305_1311_The_Thames_Below_Westminster_Bridge_William_James.jpg" data-thumb="images/wallpapers/JGT_ 471_475_954_955_1305_1311_The_Thames_Below_Westminster_Bridge_William_James.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Темза перед мостом Вестминстер</h1>
			<p><em>Уильям Джеймс, (1730-80)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/JGT_ 471_475_954_955_1305_1311_The_Thames_Below_Westminster_Bridge_William_James.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Pyramids_Hazelnut_Cookie.jpg" data-thumb="images/wallpapers/Pyramids_Hazelnut_Cookie.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Весна</h1>
			<p><em>Джон Кольер (1850-1934)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Pyramids_Hazelnut_Cookie.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Pyramids_Key_Lime_Pie.jpg" data-thumb="images/wallpapers/Pyramids_Key_Lime_Pie.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Прогулка в саду</h1>
			<p><em>Фредерик Гамильтон (1848-1923)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Pyramids_Key_Lime_Pie.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Pyramids_Mango_Souffle.jpg" data-thumb="images/wallpapers/Pyramids_Mango_Souffle.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Лето</h1>
			<p><em>Тони Шеат (р.1946)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Pyramids_Mango_Souffle.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Pyramids_Pear_Strudel.jpg" data-thumb="images/wallpapers/Pyramids_Pear_Strudel.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Луговые цветы</h1>
			<p><em>Артур Хэкер (1858 – 1919)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Pyramids_Pear_Strudel.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/Pyramids_Sea_Buckthorn_Candies.jpg" data-thumb="images/wallpapers/Pyramids_Sea_Buckthorn_Candies.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Вид Дельфта</h1>
			<p><em>Ян (Йоханнес) Веомеерб 1660-61 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/Pyramids_Sea_Buckthorn_Candies.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/SM_1237_In_the_meadow_Claude_Monet.jpg" data-thumb="images/wallpapers/SM_1237_In_the_meadow_Claude_Monet.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>На лугу</h1>
			<p><em>Клод Моне, 1876 г.</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/SM_1237_In_the_meadow_Claude_Monet.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/SM_1315_1316_Venice_at_Dawn_Timothy_Easton.jpg" data-thumb="images/wallpapers/SM_1315_1316_Venice_at_Dawn_Timothy_Easton.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Венеция на рассвете</h1>
			<p><em>Тимоти Истон (р. 1943)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/SM_1315_1316_Venice_at_Dawn_Timothy_Easton.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/ST_1178_1179_1240_Women_Taking_Tea_Albert_Lynch.jpg" data-thumb="images/wallpapers/ST_1178_1179_1240_Women_Taking_Tea_Albert_Lynch.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Чаепитие</h1>
			<p><em>Альберт Линч (1851-1912)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/ST_1178_1179_1240_Women_Taking_Tea_Albert_Lynch.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>
	<div class="slide" data-img="images/wallpapers/WP_1196_1197_1264_A_Romantic_Evening_Charles_Spencelayh.jpg" data-thumb="images/wallpapers/WP_1196_1197_1264_A_Romantic_Evening_Charles_Spencelayh.jpg" data-thumbratio="3/2">
		<div class="title column3">
			<h1>Романтический вечер</h1>
			<p><em>Чарльз Спенслей (1865-1958)</em></p>
		</div>
		<div class="download column2">
			<strong>Скачать обои</strong><br>
			<a href="images/wallpapers/WP_1196_1197_1264_A_Romantic_Evening_Charles_Spencelayh.jpg" download>1920x1080</a> <a href="#">1366x768</a> <a href="#">iPhone</a>
		</div>
	</div>

</div>

<script>
	$("document").on("ready", function() {
		var wallpapers = $("#wallpapers").fotorama();

		wallpapers.resize({
			width: "100%",
			height: "490px"
		});
	});

	function wideFotoramaResize() {
		$(".fotorama").each(function() {
			var element = $(this);
			var api = element.data("fotorama");
			var isWide = element.attr("data-width", "100%");
			if(isWide) {
				api.resize({
					width: $(window).width()
				});				
			}
		});		
	}

	$(window).on("resize load", wideFotoramaResize);

</script>