<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Психологические тесты онлайн</h1>
	<h2>Тест: {{currentTest.title}}</h2>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="column3 left1">
	<form class="test-question">
		<div class="total"><em>Вопрос 1 из {{currentTest.questions.length}}</em></div>
		<h3>{{currentQuestion.title}}</h3>
		<p>&nbsp;</p>
		<p ng-repeat="answer in currentQuestion.answers"><label><input type="radio" name="answer"> {{answer}}</label></p>
		<p><input type="submit" class="button next" value="Далее"></p>
	</form>

	<!-- DELETE <P> -->
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="test-result">
		<div class="illustration"><img src="images/icon-london.png"></div>
		<h3>ЛОНДОН</h3>
		<p>&nbsp;</p>
		<p>Вам понравится Лондон с его хорошими манерами, зелеными парками, клетчатыми плащами и несравненной пунктуальностью местных жителей. Не обойдется и без сюрпризов: блошиных рынков, шумных концертов в районе Сохо и головокружительных небоскребов Гринвича, – но все они будут приятными.</p>
		<p>&nbsp;</p>

		<div class="share">
			<p>Рассказать друзьям в социальных сетях:</p>

			<div class="button-group">
				<a href="#" class="button"><span class="icon-odnoklassniki"></span></a>
				<a href="#" class="button">Одноклассники</a>
			</div>

			<div class="button-group">
				<a href="#" class="button"><span class="icon-facebook"></span></a>
				<a href="#" class="button">Фейсбук</a>
			</div>
		</div>

	</div>

<!-- 	<p>&nbsp;</p>
	<p>{{$state}}</p>
	<p>&nbsp;</p>
	<p>{{$stateParams}}</p> -->
</div>

<div id="tests-list" class="column2">
	<div ng-repeat="test in allTests"><a href="#" ui-sref="teatime.test({test: test.id})" ui-sref-active="active"><span class="border">{{test.title}}</span></a></div>
</div>



