<div class="column5 left1">
	<a href="#" class="side-banner"><img src="images/banner-circle-01.png"></a>
	<h1>Валентинка</h1>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<object type="application/x-shockwave-flash" data="content/ahmadvalent.swf" width="790" height="510"> 
	    <param name="movie" value="content/ahmadvalent.swf" />
	    <param name="quality" value="high" />
	    <param name="align" value="middle" />
	    <param name="wmode" value="opaque" />
	    <param name="menu" value="false" />
	    <param name="allowscriptaccess" value="samedomain" />
	    <embed src="content/ahmadvalent.swf" quality="high" bgcolor="#ffffff" width="790" height="510" name="video 1" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/flashplayer/" wmode="opaque"></embed>
	    <p>Adobe <a href="http://get.adobe.com/flashplayer/">Flash Player</a> is required to view this content.</p>
	</object>


	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<object type="application/x-shockwave-flash" data="content/dog2.swf" width="790" height="280"> 
	    <param name="movie" value="content/dog2.swf" />
	    <param name="quality" value="high" />
	    <param name="align" value="middle" />
	    <param name="wmode" value="opaque" />
	    <param name="menu" value="false" />
	    <param name="allowscriptaccess" value="samedomain" />
		<embed src="content/dog2.swf" quality="high" bgcolor="#ffffff" width="790" height="280" name="video 1" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/flashplayer/" wmode="opaque"></embed>
	    <p>Adobe <a href="http://get.adobe.com/flashplayer/">Flash Player</a> is required to view this content.</p>
	</object>



</div>