@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?si5v7d');
	src:url('icomoon.eot?#iefixsi5v7d') format('embedded-opentype'),
		url('icomoon.woff?si5v7d') format('woff'),
		url('icomoon.ttf?si5v7d') format('truetype'),
		url('icomoon.svg?si5v7d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tealeaf:before {
	content: "\e608";
}

.icon-teabag:before {
	content: "\e609";
} 

.icon-heart-solid:before,
.icon-heart.active:before {
	content: "\e607";
} 

.icon-heart:before {
	content: "\e604";
}

.icon-comment:before {
	content: "\e603";
}

.icon-leaf:before {
	content: "\e605";
}

.icon-reload:before {
	content: "\e080";
}

.icon-arrow-left:before {
	content: "\e094";
}

.icon-arrow-right:before {
	content: "\e095";
}

.icon-odnoklassniki:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e600";
}

.icon-vkontakte:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e602";
}
 
 