
@font-face {
    font-family: 'Mirta';
    src: url('mirta_bolditalic.eot');
    src: url('mirta_bolditalic.eot?#iefix') format('embedded-opentype'),
         url('mirta_bolditalic.woff') format('woff'),
         url('mirta_bolditalic.ttf') format('truetype'),
         url('mirta_bolditalic.svg#MirtaBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Mirta';
    src: url('mirta_italic.eot');
    src: url('mirta_italic.eot?#iefix') format('embedded-opentype'),
         url('mirta_italic.woff') format('woff'),
         url('mirta_italic.ttf') format('truetype'),
         url('mirta_italic.svg#MirtaItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Mirta';
    src: url('mirta_regular.eot');
    src: url('mirta_regular.eot?#iefix') format('embedded-opentype'),
         url('mirta_regular.woff') format('woff'),
         url('mirta_regular.ttf') format('truetype'),
         url('mirta_regular.svg#MirtaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}